<!DOCTYPE html>

<head>
    <title>会員登録画面</title>
</head>

<body>
    <form action='/akaunto'>
        <p><label for="name">名前</label></p>
        <input type="name" id="name" name="name">
        <p><label for="text">名前(ふりがな)</label></p>
        <input type="text" id="text" name="text">
        <p><label for="email"></label>メールアドレス</p>
        <input type="email" id="email" name="email">
        <p><label for="password">パスワード</label></p>
        <input type="password" id="password" name="password">
        <br><button type="submit" formmethod="POST">会員登録を行う</button><br>
    </form>
</body>

</html>