<html>
<head>
<style>
img{
	width:100px;
}
.back1{
  background: url(images/carp.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.c{
    margin: auto;
}
</style>
</head>

<div id="wrapper">
    <img src="images/success.png" style="float:left;">
    <h1 style="text-align: center">野球の部屋</h1><br>
    <h2 style="border-bottom:5px solid #ff0000;" class="back1">広島東洋カープ選手一覧</h2>
    <table border="1" class="c">
        <tr>
            <th>No.</th>
            <th style="width:150px;">選手名</th>
            <th>守備</th>
            <th>生年月日</th>
            <th>年齢</th>
            <th>年数</th>
            <th>身長</th>
            <th>体重</th>
            <th>血液型</th>
            <th>投打</th>
            <th>出身地</th>
            <th>年俸(推定)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>0</td>
            <td style="text-align:left;"><a>上本　崇司</a></td>
            <td>内野手</td>
            <td>1990/08/22</td>
            <td>33歳</td>
            <td style="text-align:right;">11年</td>
            <td>170cm</td>
            <td>73kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">2,900万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>00</td>
            <td style="text-align:left;"><a>曽根　海成</a></td>
            <td>内野手</td>
            <td>1995/04/24</td>
            <td>28歳</td>
            <td style="text-align:right;">10年</td>
            <td>175cm</td>
            <td>72kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>大阪</td>
            <td style="text-align:right;">1,300万円</td>
            </tr>
            <tr>
            <td>2</td>
            <td style="text-align:left;"><a>田中　広輔</a></td>
            <td>内野手</td>
            <td>1989/07/03</td>
            <td>34歳</td>
            <td style="text-align:right;">10年</td>
            <td>171cm</td>
            <td>86kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>神奈川</td>
            <td style="text-align:right;">3,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>5</td>
            <td style="text-align:left;"><a>西川　龍馬</a></td>
            <td>外野手</td>
            <td>1994/12/10</td>
            <td>29歳</td>
            <td style="text-align:right;">8年</td>
            <td>176cm</td>
            <td>83kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>大阪</td>
            <td style="text-align:right;">12,000万円</td>
            </tr>
            <tr>
            <td>7</td>
            <td style="text-align:left;"><a>堂林　翔太</a></td>
            <td>内野手</td>
            <td>1991/08/17</td>
            <td>32歳</td>
            <td style="text-align:right;">14年</td>
            <td>183cm</td>
            <td>96kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">5,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>9</td>
            <td style="text-align:left;"><a>秋山　翔吾</a></td>
            <td>外野手</td>
            <td>1988/04/16</td>
            <td>35歳</td>
            <td style="text-align:right;">11年</td>
            <td>184cm</td>
            <td>86kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>神奈川</td>
            <td style="text-align:right;">15,000万円</td>
            </tr>
            <tr>
            <td>10</td>
            <td style="text-align:left;"><a>マクブルーム</a></td>
            <td>内野手</td>
            <td>1992/04/09</td>
            <td>31歳</td>
            <td style="text-align:right;">2年</td>
            <td>190cm</td>
            <td>99kg</td>
            <td>不明</td>
            <td>左右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">19,075万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>11</td>
            <td style="text-align:left;"><a>九里　亜蓮</a></td>
            <td>投手</td>
            <td>1991/09/01</td>
            <td>32歳</td>
            <td style="text-align:right;">10年</td>
            <td>187cm</td>
            <td>97kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>鳥取</td>
            <td style="text-align:right;">14,000万円</td>
            </tr>
            <tr>
            <td>12</td>
            <td style="text-align:left;"><a>大道　温貴</a></td>
            <td>投手</td>
            <td>1999/01/20</td>
            <td>24歳</td>
            <td style="text-align:right;">3年</td>
            <td>178cm</td>
            <td>80kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>埼玉</td>
            <td style="text-align:right;">1,300万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>13</td>
            <td style="text-align:left;"><a>森浦　大輔</a></td>
            <td>投手</td>
            <td>1998/06/15</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>175cm</td>
            <td>72kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>和歌山</td>
            <td style="text-align:right;">4,000万円</td>
            </tr>
            <tr>
            <td>14</td>
            <td style="text-align:left;"><a>大瀬良　大地</a></td>
            <td>投手</td>
            <td>1991/06/17</td>
            <td>32歳</td>
            <td style="text-align:right;">10年</td>
            <td>187cm</td>
            <td>92kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>長崎</td>
            <td style="text-align:right;">18,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>16</td>
            <td style="text-align:left;"><a>森　翔平</a></td>
            <td>投手</td>
            <td>1998/01/01</td>
            <td>25歳</td>
            <td style="text-align:right;">2年</td>
            <td>177cm</td>
            <td>81kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>鳥取</td>
            <td style="text-align:right;">1,400万円</td>
            </tr>
            <tr>
            <td>17</td>
            <td style="text-align:left;"><a>岡田　明丈</a></td>
            <td>投手</td>
            <td>1993/10/18</td>
            <td>30歳</td>
            <td style="text-align:right;">8年</td>
            <td>185cm</td>
            <td>97kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>東京</td>
            <td style="text-align:right;">1,750万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>18</td>
            <td style="text-align:left;"><a>森下　暢仁</a></td>
            <td>投手</td>
            <td>1997/08/25</td>
            <td>26歳</td>
            <td style="text-align:right;">4年</td>
            <td>180cm</td>
            <td>78kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>大分</td>
            <td style="text-align:right;">11,000万円</td>
            </tr>
            <tr>
            <td>19</td>
            <td style="text-align:left;"><a>野村　祐輔</a></td>
            <td>投手</td>
            <td>1989/06/24</td>
            <td>34歳</td>
            <td style="text-align:right;">12年</td>
            <td>177cm</td>
            <td>85kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>岡山</td>
            <td style="text-align:right;">5,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>20</td>
            <td style="text-align:left;"><a>栗林　良吏</a></td>
            <td>投手</td>
            <td>1996/07/09</td>
            <td>27歳</td>
            <td style="text-align:right;">3年</td>
            <td>178cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">9,500万円</td>
            </tr>
            <tr>
            <td>21</td>
            <td style="text-align:left;"><a>中﨑　翔太</a></td>
            <td>投手</td>
            <td>1992/08/10</td>
            <td>31歳</td>
            <td style="text-align:right;">13年</td>
            <td>186cm</td>
            <td>100kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>鹿児島</td>
            <td style="text-align:right;">5,300万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>22</td>
            <td style="text-align:left;"><a>中村　奨成</a></td>
            <td>捕手</td>
            <td>1999/06/06</td>
            <td>24歳</td>
            <td style="text-align:right;">6年</td>
            <td>181cm</td>
            <td>81kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr>
            <td>23</td>
            <td style="text-align:left;"><a>薮田　和樹</a></td>
            <td>投手</td>
            <td>1992/08/07</td>
            <td>31歳</td>
            <td style="text-align:right;">9年</td>
            <td>188cm</td>
            <td>84kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">1,600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>24</td>
            <td style="text-align:left;"><a>黒原　拓未</a></td>
            <td>投手</td>
            <td>1999/11/29</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>173cm</td>
            <td>73kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>和歌山</td>
            <td style="text-align:right;">1,400万円</td>
            </tr>
            <tr>
            <td>26</td>
            <td style="text-align:left;"><a>益田　武尚</a></td>
            <td>投手</td>
            <td>1998/10/06</td>
            <td>25歳</td>
            <td style="text-align:right;">1年</td>
            <td>175cm</td>
            <td>83kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>福岡</td>
            <td style="text-align:right;">1,100万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>27</td>
            <td style="text-align:left;"><a>會澤　翼</a></td>
            <td>捕手</td>
            <td>1988/04/13</td>
            <td>35歳</td>
            <td style="text-align:right;">17年</td>
            <td>175cm</td>
            <td>90kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>茨城</td>
            <td style="text-align:right;">14,000万円</td>
            </tr>
            <tr>
            <td>28</td>
            <td style="text-align:left;"><a>床田　寛樹</a></td>
            <td>投手</td>
            <td>1995/03/01</td>
            <td>28歳</td>
            <td style="text-align:right;">7年</td>
            <td>181cm</td>
            <td>92kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>兵庫</td>
            <td style="text-align:right;">5,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>29</td>
            <td style="text-align:left;"><a>ケムナ　誠</a></td>
            <td>投手</td>
            <td>1995/06/05</td>
            <td>28歳</td>
            <td style="text-align:right;">6年</td>
            <td>190cm</td>
            <td>97kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">2,700万円</td>
            </tr>
            <tr>
            <td>30</td>
            <td style="text-align:left;"><a>一岡　竜司</a></td>
            <td>投手</td>
            <td>1991/01/11</td>
            <td>32歳</td>
            <td style="text-align:right;">12年</td>
            <td>179cm</td>
            <td>87kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>福岡</td>
            <td style="text-align:right;">3,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>31</td>
            <td style="text-align:left;"><a>坂倉　将吾</a></td>
            <td>捕手</td>
            <td>1998/05/29</td>
            <td>25歳</td>
            <td style="text-align:right;">7年</td>
            <td>176cm</td>
            <td>89kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>千葉</td>
            <td style="text-align:right;">9,500万円</td>
            </tr>
            <tr>
            <td>32</td>
            <td style="text-align:left;"><a>石原　貴規</a></td>
            <td>捕手</td>
            <td>1998/02/03</td>
            <td>25歳</td>
            <td style="text-align:right;">4年</td>
            <td>173cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">1,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>33</td>
            <td style="text-align:left;"><a>菊池　涼介</a></td>
            <td>内野手</td>
            <td>1990/03/11</td>
            <td>33歳</td>
            <td style="text-align:right;">12年</td>
            <td>171cm</td>
            <td>71kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">30,000万円</td>
            </tr>
            <tr>
            <td>34</td>
            <td style="text-align:left;"><a>高橋　昂也</a></td>
            <td>投手</td>
            <td>1998/09/27</td>
            <td>25歳</td>
            <td style="text-align:right;">7年</td>
            <td>181cm</td>
            <td>92kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>埼玉</td>
            <td style="text-align:right;">1,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>35</td>
            <td style="text-align:left;"><a>三好　匠</a></td>
            <td>内野手</td>
            <td>1993/06/07</td>
            <td>30歳</td>
            <td style="text-align:right;">12年</td>
            <td>174cm</td>
            <td>84kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>福岡</td>
            <td style="text-align:right;">1,200万円</td>
            </tr>
            <tr>
            <td>36</td>
            <td style="text-align:left;"><a>塹江　敦哉</a></td>
            <td>投手</td>
            <td>1997/02/21</td>
            <td>26歳</td>
            <td style="text-align:right;">9年</td>
            <td>178cm</td>
            <td>88kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>香川</td>
            <td style="text-align:right;">2,400万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>37</td>
            <td style="text-align:left;"><a>野間　峻祥</a></td>
            <td>外野手</td>
            <td>1993/01/28</td>
            <td>30歳</td>
            <td style="text-align:right;">9年</td>
            <td>180cm</td>
            <td>85kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>兵庫</td>
            <td style="text-align:right;">5,000万円</td>
            </tr>
            <tr>
            <td>38</td>
            <td style="text-align:left;"><a>宇草　孔基</a></td>
            <td>外野手</td>
            <td>1997/04/17</td>
            <td>26歳</td>
            <td style="text-align:right;">4年</td>
            <td>185cm</td>
            <td>82kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>東京</td>
            <td style="text-align:right;">1,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>39</td>
            <td style="text-align:left;"><a>長谷部　銀次</a></td>
            <td>投手</td>
            <td>1998/07/29</td>
            <td>25歳</td>
            <td style="text-align:right;">1年</td>
            <td>184cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>愛知</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr>
            <td>40</td>
            <td style="text-align:left;"><a>磯村　嘉孝</a></td>
            <td>捕手</td>
            <td>1992/11/01</td>
            <td>31歳</td>
            <td style="text-align:right;">13年</td>
            <td>178cm</td>
            <td>91kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">2,100万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>41</td>
            <td style="text-align:left;"><a>矢崎　拓也</a></td>
            <td>投手</td>
            <td>1994/12/31</td>
            <td>28歳</td>
            <td style="text-align:right;">7年</td>
            <td>176cm</td>
            <td>95kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">2,800万円</td>
            </tr>
            <tr>
            <td>42</td>
            <td style="text-align:left;"><a>アンダーソン</a></td>
            <td>投手</td>
            <td>1994/03/22</td>
            <td>29歳</td>
            <td style="text-align:right;">2年</td>
            <td>190cm</td>
            <td>93kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">7,700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>43</td>
            <td style="text-align:left;"><a>島内　颯太郎</a></td>
            <td>投手</td>
            <td>1996/10/14</td>
            <td>27歳</td>
            <td style="text-align:right;">5年</td>
            <td>180cm</td>
            <td>81kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>福岡</td>
            <td style="text-align:right;">2,300万円</td>
            </tr>
            <tr>
            <td>44</td>
            <td style="text-align:left;"><a>林　晃汰</a></td>
            <td>内野手</td>
            <td>2000/11/16</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>182cm</td>
            <td>100kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>和歌山</td>
            <td style="text-align:right;">1,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>45</td>
            <td style="text-align:left;"><a>松本　竜也</a></td>
            <td>投手</td>
            <td>1999/09/18</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>178cm</td>
            <td>98kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>奈良</td>
            <td style="text-align:right;">1,600万円</td>
            </tr>
            <tr>
            <td>46</td>
            <td style="text-align:left;"><a>河野　佳</a></td>
            <td>投手</td>
            <td>2001/08/23</td>
            <td>22歳</td>
            <td style="text-align:right;">1年</td>
            <td>175cm</td>
            <td>82kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>47</td>
            <td style="text-align:left;"><a>斉藤　優汰</a></td>
            <td>投手</td>
            <td>2004/05/27</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>189cm</td>
            <td>91kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>北海道</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr>
            <td>48</td>
            <td style="text-align:left;"><a>アドゥワ　誠</a></td>
            <td>投手</td>
            <td>1998/10/02</td>
            <td>25歳</td>
            <td style="text-align:right;">7年</td>
            <td>196cm</td>
            <td>84kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>熊本</td>
            <td style="text-align:right;">1,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>49</td>
            <td style="text-align:left;"><a>戸根　千明</a></td>
            <td>投手</td>
            <td>1992/10/17</td>
            <td>31歳</td>
            <td style="text-align:right;">9年</td>
            <td>174cm</td>
            <td>100kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>京都</td>
            <td style="text-align:right;">1,800万円</td>
            </tr>
            <tr>
            <td>50</td>
            <td style="text-align:left;"><a>中村　健人</a></td>
            <td>外野手</td>
            <td>1997/05/21</td>
            <td>26歳</td>
            <td style="text-align:right;">2年</td>
            <td>183cm</td>
            <td>93kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">1,600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>51</td>
            <td style="text-align:left;"><a>小園　海斗</a></td>
            <td>内野手</td>
            <td>2000/06/07</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>178cm</td>
            <td>85kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>兵庫</td>
            <td style="text-align:right;">4,000万円</td>
            </tr>
            <tr>
            <td>52</td>
            <td style="text-align:left;"><a>末包　昇大</a></td>
            <td>外野手</td>
            <td>1996/05/27</td>
            <td>27歳</td>
            <td style="text-align:right;">2年</td>
            <td>188cm</td>
            <td>112kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>香川</td>
            <td style="text-align:right;">1,300万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>53</td>
            <td style="text-align:left;"><a>小林　樹斗</a></td>
            <td>投手</td>
            <td>2003/01/16</td>
            <td>20歳</td>
            <td style="text-align:right;">3年</td>
            <td>182cm</td>
            <td>85kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>和歌山</td>
            <td style="text-align:right;">550万円</td>
            </tr>
            <tr>
            <td>54</td>
            <td style="text-align:left;"><a>韮澤　雄也</a></td>
            <td>内野手</td>
            <td>2001/05/20</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>177cm</td>
            <td>83kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>新潟</td>
            <td style="text-align:right;">600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>55</td>
            <td style="text-align:left;"><a>松山　竜平</a></td>
            <td>外野手</td>
            <td>1985/09/18</td>
            <td>38歳</td>
            <td style="text-align:right;">16年</td>
            <td>176cm</td>
            <td>96kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>鹿児島</td>
            <td style="text-align:right;">6,500万円</td>
            </tr>
            <tr>
            <td>56</td>
            <td style="text-align:left;"><a>久保　修</a></td>
            <td>外野手</td>
            <td>2000/09/29</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>181cm</td>
            <td>82kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>大阪</td>
            <td style="text-align:right;">600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>57</td>
            <td style="text-align:left;"><a>持丸　泰輝</a></td>
            <td>捕手</td>
            <td>2001/10/26</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>177cm</td>
            <td>88kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>北海道</td>
            <td style="text-align:right;">550万円</td>
            </tr>
            <tr>
            <td>58</td>
            <td style="text-align:left;"><a>藤井　黎來</a></td>
            <td>投手</td>
            <td>1999/09/17</td>
            <td>24歳</td>
            <td style="text-align:right;">6年</td>
            <td>182cm</td>
            <td>90kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>秋田</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>59</td>
            <td style="text-align:left;"><a>大盛　穂</a></td>
            <td>外野手</td>
            <td>1996/08/31</td>
            <td>27歳</td>
            <td style="text-align:right;">5年</td>
            <td>180cm</td>
            <td>80kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>大阪</td>
            <td style="text-align:right;">1,300万円</td>
            </tr>
            <tr>
            <td>60</td>
            <td style="text-align:left;"><a>田村　俊介</a></td>
            <td>外野手</td>
            <td>2003/08/25</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>178cm</td>
            <td>93kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>京都</td>
            <td style="text-align:right;">500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>61</td>
            <td style="text-align:left;"><a>矢野　雅哉</a></td>
            <td>内野手</td>
            <td>1998/12/16</td>
            <td>24歳</td>
            <td style="text-align:right;">3年</td>
            <td>171cm</td>
            <td>69kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>大阪</td>
            <td style="text-align:right;">1,100万円</td>
            </tr>
            <tr>
            <td>62</td>
            <td style="text-align:left;"><a>清水　叶人</a></td>
            <td>捕手</td>
            <td>2004/07/06</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>176cm</td>
            <td>86kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>群馬</td>
            <td style="text-align:right;">500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>63</td>
            <td style="text-align:left;"><a>内田　湘大</a></td>
            <td>内野手</td>
            <td>2004/09/22</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>183cm</td>
            <td>88kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>長野</td>
            <td style="text-align:right;">600万円</td>
            </tr>
            <tr>
            <td>64</td>
            <td style="text-align:left;"><a>髙木　翔斗</a></td>
            <td>捕手</td>
            <td>2003/08/12</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>188cm</td>
            <td>87kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>岐阜</td>
            <td style="text-align:right;">500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>65</td>
            <td style="text-align:left;"><a>玉村　昇悟</a></td>
            <td>投手</td>
            <td>2001/04/16</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>179cm</td>
            <td>84kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>福井</td>
            <td style="text-align:right;">1,300万円</td>
            </tr>
            <tr>
            <td>66</td>
            <td style="text-align:left;"><a>遠藤　淳志</a></td>
            <td>投手</td>
            <td>1999/04/08</td>
            <td>24歳</td>
            <td style="text-align:right;">6年</td>
            <td>186cm</td>
            <td>87kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>茨城</td>
            <td style="text-align:right;">2,600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>67</td>
            <td style="text-align:left;"><a>中村　祐太</a></td>
            <td>投手</td>
            <td>1995/08/31</td>
            <td>28歳</td>
            <td style="text-align:right;">10年</td>
            <td>184cm</td>
            <td>90kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">1,100万円</td>
            </tr>
            <tr>
            <td>68</td>
            <td style="text-align:left;"><a>ターリー</a></td>
            <td>投手</td>
            <td>1989/09/11</td>
            <td>34歳</td>
            <td style="text-align:right;">2年</td>
            <td>193cm</td>
            <td>104kg</td>
            <td>不明</td>
            <td>左左</td>
            <td>アメリカ</td>
            <td style="text-align:right;">11,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>69</td>
            <td style="text-align:left;"><a>羽月　隆太郎</a></td>
            <td>内野手</td>
            <td>2000/04/19</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>167cm</td>
            <td>72kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>宮崎</td>
            <td style="text-align:right;">1,400万円</td>
            </tr>
            <tr>
            <td>95</td>
            <td style="text-align:left;"><a>デビッドソン</a></td>
            <td>内野手</td>
            <td>1991/03/26</td>
            <td>32歳</td>
            <td style="text-align:right;">1年</td>
            <td>190cm</td>
            <td>104kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">7,700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>97</td>
            <td style="text-align:left;"><a>中村　貴浩</a></td>
            <td>外野手</td>
            <td>2000/04/09</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>177cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>福岡</td>
            <td style="text-align:right;">300万円</td>
            </tr>
            <tr>
            <td>98</td>
            <td style="text-align:left;"><a>コルニエル</a></td>
            <td>投手</td>
            <td>1995/06/23</td>
            <td>28歳</td>
            <td style="text-align:right;">4年</td>
            <td>194cm</td>
            <td>101kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>ドミニカ共和国</td>
            <td style="text-align:right;">2,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>99</td>
            <td style="text-align:left;"><a>二俣　翔一</a></td>
            <td>内野手</td>
            <td>2002/10/21</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>180cm</td>
            <td>75kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>静岡</td>
            <td style="text-align:right;">500万円</td>
            </tr>
            <tr>
            <td>120</td>
            <td style="text-align:left;"><a>行木　俊</a></td>
            <td>投手</td>
            <td>2001/01/08</td>
            <td>22歳</td>
            <td style="text-align:right;">3年</td>
            <td>184cm</td>
            <td>79kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>千葉</td>
            <td style="text-align:right;">450万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>121</td>
            <td style="text-align:left;"><a>名原　典彦</a></td>
            <td>外野手</td>
            <td>2000/06/24</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>182cm</td>
            <td>82kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">300万円</td>
            </tr>
            <tr>
            <td>122</td>
            <td style="text-align:left;"><a>坂田　怜</a></td>
            <td>投手</td>
            <td>1999/09/13</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>188cm</td>
            <td>90kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>埼玉</td>
            <td style="text-align:right;">350万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>124</td>
            <td style="text-align:left;"><a>木下　元秀</a></td>
            <td>外野手</td>
            <td>2001/07/25</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>183cm</td>
            <td>96kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>大阪</td>
            <td style="text-align:right;">350万円</td>
            </tr>
            <tr>
            <td>125</td>
            <td style="text-align:left;"><a>辻　大雅</a></td>
            <td>投手</td>
            <td>2004/08/29</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>182cm</td>
            <td>80kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>神奈川</td>
            <td style="text-align:right;">275万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>126</td>
            <td style="text-align:left;"><a>新家　颯</a></td>
            <td>投手</td>
            <td>2003/08/14</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>182cm</td>
            <td>83kg</td>
            <td>不明</td>
            <td>左左</td>
            <td>和歌山</td>
            <td style="text-align:right;">300万円</td>
            </tr>
            <tr>
            <td>127</td>
            <td style="text-align:left;"><a>前川　誠太</a></td>
            <td>内野手</td>
            <td>2003/04/04</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>176cm</td>
            <td>70kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>京都</td>
            <td style="text-align:right;">300万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>128</td>
            <td style="text-align:left;"><a>中村　来生</a></td>
            <td>投手</td>
            <td>2003/05/06</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>190cm</td>
            <td>71kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>富山</td>
            <td style="text-align:right;">300万円</td>
            </tr>
            
            </table>
            