<html>
<head>
<style>
img{
	width:100px;
}
.back1{
  background: url(images/kyojin.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.g{
    margin: auto;
}
</style>
</head>

<div id="wrapper">
    <img src="images/success.png" style="float:left;">
    <h1 style="text-align: center">野球の部屋</h1><br>
    <h2 style="border-bottom:5px solid #ff9900;" class="back1">読売ジャイアンツ選手一覧</h2>
    <table border="1" class="g">
        <tr>
            <th>No.</th>
            <th style="width:150px;">選手名</th>
            <th>守備</th>
            <th>生年月日</th>
            <th>年齢</th>
            <th>年数</th>
            <th>身長</th>
            <th>体重</th>
            <th>血液型</th>
            <th>投打</th>
            <th>出身地</th>
            <th>年俸(推定)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>00</td>
            <td style="text-align:left;"><a>湯浅　大</a></td>
            <td>内野手</td>
            <td>2000/01/24</td>
            <td>23歳</td>
            <td style="text-align:right;">6年</td>
            <td>172cm</td>
            <td>73kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>群馬</td>
            <td style="text-align:right;">1,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>0</td>
            <td style="text-align:left;"><a>増田　大輝</a></td>
            <td>内野手</td>
            <td>1993/07/29</td>
            <td>30歳</td>
            <td style="text-align:right;">8年</td>
            <td>172cm</td>
            <td>68kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>徳島</td>
            <td style="text-align:right;">2,300万円</td>
            </tr>
            <tr>
            <td>001</td>
            <td style="text-align:left;"><a>加藤　廉</a></td>
            <td>内野手</td>
            <td>1999/01/12</td>
            <td>24歳</td>
            <td style="text-align:right;">3年</td>
            <td>181cm</td>
            <td>84kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>静岡</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>002</td>
            <td style="text-align:left;"><a>中田　歩夢</a></td>
            <td>内野手</td>
            <td>2004/06/27</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>172cm</td>
            <td>77kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>青森</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr>
            <td>2</td>
            <td style="text-align:left;"><a>吉川　尚輝</a></td>
            <td>内野手</td>
            <td>1995/02/08</td>
            <td>28歳</td>
            <td style="text-align:right;">7年</td>
            <td>177cm</td>
            <td>78kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>岐阜</td>
            <td style="text-align:right;">7,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>003</td>
            <td style="text-align:left;"><a>鈴木　大和</a></td>
            <td>外野手</td>
            <td>1999/04/27</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>173cm</td>
            <td>73kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>北海道</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr>
            <td>5</td>
            <td style="text-align:left;"><a>中島　宏之</a></td>
            <td>内野手</td>
            <td>1982/07/31</td>
            <td>41歳</td>
            <td style="text-align:right;">21年</td>
            <td>180cm</td>
            <td>90kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">5,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>6</td>
            <td style="text-align:left;"><a>坂本　勇人</a></td>
            <td>内野手</td>
            <td>1988/12/14</td>
            <td>34歳</td>
            <td style="text-align:right;">17年</td>
            <td>186cm</td>
            <td>86kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">60,000万円</td>
            </tr>
            <tr>
            <td>006</td>
            <td style="text-align:left;"><a>坂本　勇人</a></td>
            <td>捕手</td>
            <td>2002/04/15</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>177cm</td>
            <td>84kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>佐賀</td>
            <td style="text-align:right;">370万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>007</td>
            <td style="text-align:left;"><a>デラクルーズ</a></td>
            <td>内野手</td>
            <td>2004/07/29</td>
            <td>19歳</td>
            <td style="text-align:right;">3年</td>
            <td>182cm</td>
            <td>76kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>ドミニカ共和国</td>
            <td style="text-align:right;">240万円</td>
            </tr>
            <tr>
            <td>7</td>
            <td style="text-align:left;"><a>長野　久義</a></td>
            <td>外野手</td>
            <td>1984/12/06</td>
            <td>39歳</td>
            <td style="text-align:right;">14年</td>
            <td>180cm</td>
            <td>85kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>佐賀</td>
            <td style="text-align:right;">2,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>8</td>
            <td style="text-align:left;"><a>丸　佳浩</a></td>
            <td>外野手</td>
            <td>1989/04/11</td>
            <td>34歳</td>
            <td style="text-align:right;">16年</td>
            <td>177cm</td>
            <td>94kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>千葉</td>
            <td style="text-align:right;">45,000万円</td>
            </tr>
            <tr>
            <td>008</td>
            <td style="text-align:left;"><a>相澤　白虎</a></td>
            <td>内野手</td>
            <td>2004/05/28</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>178cm</td>
            <td>82kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>埼玉</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>009</td>
            <td style="text-align:left;"><a>笹原　操希</a></td>
            <td>外野手</td>
            <td>2004/02/09</td>
            <td>19歳</td>
            <td style="text-align:right;">2年</td>
            <td>180cm</td>
            <td>76kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>長野</td>
            <td style="text-align:right;">370万円</td>
            </tr>
            <tr>
            <td>010</td>
            <td style="text-align:left;"><a>大津　綾也</a></td>
            <td>捕手</td>
            <td>2003/05/28</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>174cm</td>
            <td>72kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>北海道</td>
            <td style="text-align:right;">370万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>10</td>
            <td style="text-align:left;"><a>中田　翔</a></td>
            <td>内野手</td>
            <td>1989/04/22</td>
            <td>34歳</td>
            <td style="text-align:right;">16年</td>
            <td>184cm</td>
            <td>107kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">30,000万円</td>
            </tr>
            <tr>
            <td>11</td>
            <td style="text-align:left;"><a>平内　龍太</a></td>
            <td>投手</td>
            <td>1998/08/01</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>185cm</td>
            <td>99kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">2,900万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>011</td>
            <td style="text-align:left;"><a>笠島　尚樹</a></td>
            <td>投手</td>
            <td>2002/12/07</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>178cm</td>
            <td>82kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>福井</td>
            <td style="text-align:right;">380万円</td>
            </tr>
            <tr>
            <td>12</td>
            <td style="text-align:left;"><a>萩尾　匡也</a></td>
            <td>外野手</td>
            <td>2000/12/28</td>
            <td>22歳</td>
            <td style="text-align:right;">1年</td>
            <td>180cm</td>
            <td>85kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>熊本</td>
            <td style="text-align:right;">1,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>013</td>
            <td style="text-align:left;"><a>ティマ</a></td>
            <td>外野手</td>
            <td>2004/09/25</td>
            <td>19歳</td>
            <td style="text-align:right;">3年</td>
            <td>193cm</td>
            <td>86kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>ドミニカ共和国</td>
            <td style="text-align:right;">240万円</td>
            </tr>
            <tr>
            <td>13</td>
            <td style="text-align:left;"><a>梶谷　隆幸</a></td>
            <td>外野手</td>
            <td>1988/08/28</td>
            <td>35歳</td>
            <td style="text-align:right;">17年</td>
            <td>180cm</td>
            <td>90kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>島根</td>
            <td style="text-align:right;">20,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>014</td>
            <td style="text-align:left;"><a>京本　眞</a></td>
            <td>投手</td>
            <td>2004/02/06</td>
            <td>19歳</td>
            <td style="text-align:right;">2年</td>
            <td>189cm</td>
            <td>80kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>大阪</td>
            <td style="text-align:right;">380万円</td>
            </tr>
            <tr>
            <td>015</td>
            <td style="text-align:left;"><a>川嵜　陽仁</a></td>
            <td>投手</td>
            <td>2003/11/01</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>177cm</td>
            <td>80kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">370万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>15</td>
            <td style="text-align:left;"><a>大勢</a></td>
            <td>投手</td>
            <td>1999/06/29</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>181cm</td>
            <td>88kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">5,700万円</td>
            </tr>
            <tr>
            <td>016</td>
            <td style="text-align:left;"><a>髙田　竜星</a></td>
            <td>投手</td>
            <td>2002/08/19</td>
            <td>21歳</td>
            <td style="text-align:right;">2年</td>
            <td>175cm</td>
            <td>75kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>石川</td>
            <td style="text-align:right;">400万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>017</td>
            <td style="text-align:left;"><a>奈良木　陸</a></td>
            <td>投手</td>
            <td>1998/04/16</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>182cm</td>
            <td>90kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>広島</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr>
            <td>18</td>
            <td style="text-align:left;"><a>菅野　智之</a></td>
            <td>投手</td>
            <td>1989/10/11</td>
            <td>34歳</td>
            <td style="text-align:right;">11年</td>
            <td>186cm</td>
            <td>95kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>神奈川</td>
            <td style="text-align:right;">50,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>018</td>
            <td style="text-align:left;"><a>木下　幹也</a></td>
            <td>投手</td>
            <td>2002/05/01</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>185cm</td>
            <td>92kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">390万円</td>
            </tr>
            <tr>
            <td>19</td>
            <td style="text-align:left;"><a>山﨑　伊織</a></td>
            <td>投手</td>
            <td>1998/10/10</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>181cm</td>
            <td>81kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>兵庫</td>
            <td style="text-align:right;">2,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>20</td>
            <td style="text-align:left;"><a>戸郷　翔征</a></td>
            <td>投手</td>
            <td>2000/04/04</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>187cm</td>
            <td>84kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>宮崎</td>
            <td style="text-align:right;">9,000万円</td>
            </tr>
            <tr>
            <td>020</td>
            <td style="text-align:left;"><a>戸田　懐生</a></td>
            <td>投手</td>
            <td>2000/07/22</td>
            <td>23歳</td>
            <td style="text-align:right;">3年</td>
            <td>170cm</td>
            <td>73kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>愛知</td>
            <td style="text-align:right;">730万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>022</td>
            <td style="text-align:left;"><a>亀田　啓太</a></td>
            <td>捕手</td>
            <td>1999/04/09</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>183cm</td>
            <td>94kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>神奈川</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr>
            <td>22</td>
            <td style="text-align:left;"><a>小林　誠司</a></td>
            <td>捕手</td>
            <td>1989/06/07</td>
            <td>34歳</td>
            <td style="text-align:right;">10年</td>
            <td>178cm</td>
            <td>86kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>大阪</td>
            <td style="text-align:right;">10,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>023</td>
            <td style="text-align:left;"><a>田村　朋輝</a></td>
            <td>投手</td>
            <td>2004/04/06</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>184cm</td>
            <td>81kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr>
            <td>23</td>
            <td style="text-align:left;"><a>松田　宣浩</a></td>
            <td>内野手</td>
            <td>1983/05/17</td>
            <td>40歳</td>
            <td style="text-align:right;">18年</td>
            <td>180cm</td>
            <td>86kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>滋賀</td>
            <td style="text-align:right;">2,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>24</td>
            <td style="text-align:left;"><a>大城　卓三</a></td>
            <td>捕手</td>
            <td>1993/02/11</td>
            <td>30歳</td>
            <td style="text-align:right;">6年</td>
            <td>187cm</td>
            <td>90kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>沖縄</td>
            <td style="text-align:right;">8,000万円</td>
            </tr>
            <tr>
            <td>024</td>
            <td style="text-align:left;"><a>前田　研輝</a></td>
            <td>捕手</td>
            <td>1998/12/13</td>
            <td>24歳</td>
            <td style="text-align:right;">3年</td>
            <td>180cm</td>
            <td>90kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>広島</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>25</td>
            <td style="text-align:left;"><a>岡本　和真</a></td>
            <td>内野手</td>
            <td>1996/06/30</td>
            <td>27歳</td>
            <td style="text-align:right;">9年</td>
            <td>186cm</td>
            <td>100kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>奈良</td>
            <td style="text-align:right;">27,000万円</td>
            </tr>
            <tr>
            <td>025</td>
            <td style="text-align:left;"><a>岡本　大翔</a></td>
            <td>内野手</td>
            <td>2002/09/12</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>190cm</td>
            <td>94kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>鳥取</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>26</td>
            <td style="text-align:left;"><a>今村　信貴</a></td>
            <td>投手</td>
            <td>1994/03/15</td>
            <td>29歳</td>
            <td style="text-align:right;">12年</td>
            <td>180cm</td>
            <td>90kg</td>
            <td>AB型</td>
            <td>左左</td>
            <td>大阪</td>
            <td style="text-align:right;">4,700万円</td>
            </tr>
            <tr>
            <td>026</td>
            <td style="text-align:left;"><a>吉村　優聖歩</a></td>
            <td>投手</td>
            <td>2004/12/08</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>181cm</td>
            <td>73kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>熊本</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>027</td>
            <td style="text-align:left;"><a>北村　流音</a></td>
            <td>内野手</td>
            <td>2005/02/20</td>
            <td>18歳</td>
            <td style="text-align:right;">1年</td>
            <td>174cm</td>
            <td>78kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>群馬</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr>
            <td>27</td>
            <td style="text-align:left;"><a>岸田　行倫</a></td>
            <td>捕手</td>
            <td>1996/10/10</td>
            <td>27歳</td>
            <td style="text-align:right;">6年</td>
            <td>176cm</td>
            <td>88kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>兵庫</td>
            <td style="text-align:right;">1,600万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>028</td>
            <td style="text-align:left;"><a>富田　龍</a></td>
            <td>投手</td>
            <td>1999/11/11</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>179cm</td>
            <td>78kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>香川</td>
            <td style="text-align:right;">410万円</td>
            </tr>
            <tr>
            <td>28</td>
            <td style="text-align:left;"><a>山田　龍聖</a></td>
            <td>投手</td>
            <td>2000/09/07</td>
            <td>23歳</td>
            <td style="text-align:right;">2年</td>
            <td>183cm</td>
            <td>82kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>富山</td>
            <td style="text-align:right;">1,100万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>29</td>
            <td style="text-align:left;"><a>グリフィン</a></td>
            <td>投手</td>
            <td>1995/07/27</td>
            <td>28歳</td>
            <td style="text-align:right;">1年</td>
            <td>190cm</td>
            <td>102kg</td>
            <td>不明</td>
            <td>左右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">10,000万円</td>
            </tr>
            <tr>
            <td>030</td>
            <td style="text-align:left;"><a>山﨑　友輔</a></td>
            <td>投手</td>
            <td>1998/05/02</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>178cm</td>
            <td>80kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>岡山</td>
            <td style="text-align:right;">420万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>30</td>
            <td style="text-align:left;"><a>鍵谷　陽平</a></td>
            <td>投手</td>
            <td>1990/09/23</td>
            <td>33歳</td>
            <td style="text-align:right;">11年</td>
            <td>178cm</td>
            <td>86kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>北海道</td>
            <td style="text-align:right;">6,300万円</td>
            </tr>
            <tr>
            <td>031</td>
            <td style="text-align:left;"><a>三塚　琉生</a></td>
            <td>外野手</td>
            <td>2004/05/10</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>182cm</td>
            <td>91kg</td>
            <td>AB型</td>
            <td>左左</td>
            <td>東京</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>31</td>
            <td style="text-align:left;"><a>赤星　優志</a></td>
            <td>投手</td>
            <td>1999/07/02</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>175cm</td>
            <td>82kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">2,200万円</td>
            </tr>
            <tr>
            <td>32</td>
            <td style="text-align:left;"><a>鈴木　康平</a></td>
            <td>投手</td>
            <td>1994/01/21</td>
            <td>29歳</td>
            <td style="text-align:right;">6年</td>
            <td>186cm</td>
            <td>92kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>千葉</td>
            <td style="text-align:right;">1,700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>033</td>
            <td style="text-align:left;"><a>太田　龍</a></td>
            <td>投手</td>
            <td>1998/11/15</td>
            <td>25歳</td>
            <td style="text-align:right;">4年</td>
            <td>190cm</td>
            <td>97kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>鹿児島</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr>
            <td>33</td>
            <td style="text-align:left;"><a>ビーディ</a></td>
            <td>投手</td>
            <td>1993/05/23</td>
            <td>30歳</td>
            <td style="text-align:right;">1年</td>
            <td>188cm</td>
            <td>97kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">16,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>034</td>
            <td style="text-align:left;"><a>森本　哲星</a></td>
            <td>投手</td>
            <td>2004/09/03</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>175cm</td>
            <td>73kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>鳥取</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr>
            <td>035</td>
            <td style="text-align:left;"><a>ルシアーノ</a></td>
            <td>投手</td>
            <td>2000/02/15</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>190cm</td>
            <td>95kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>ドミニカ共和国</td>
            <td style="text-align:right;">1,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>35</td>
            <td style="text-align:left;"><a>門脇　誠</a></td>
            <td>内野手</td>
            <td>2001/01/24</td>
            <td>22歳</td>
            <td style="text-align:right;">1年</td>
            <td>171cm</td>
            <td>76kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>奈良</td>
            <td style="text-align:right;">840万円</td>
            </tr>
            <tr>
            <td>37</td>
            <td style="text-align:left;"><a>若林　晃弘</a></td>
            <td>内野手</td>
            <td>1993/08/26</td>
            <td>30歳</td>
            <td style="text-align:right;">6年</td>
            <td>180cm</td>
            <td>79kg</td>
            <td>A型</td>
            <td>右両</td>
            <td>東京</td>
            <td style="text-align:right;">2,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>38</td>
            <td style="text-align:left;"><a>岡田　悠希</a></td>
            <td>外野手</td>
            <td>2000/01/19</td>
            <td>23歳</td>
            <td style="text-align:right;">2年</td>
            <td>183cm</td>
            <td>84kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>広島</td>
            <td style="text-align:right;">900万円</td>
            </tr>
            <tr>
            <td>039</td>
            <td style="text-align:left;"><a>立岡　宗一郎</a></td>
            <td>外野手</td>
            <td>1990/05/18</td>
            <td>33歳</td>
            <td style="text-align:right;">15年</td>
            <td>181cm</td>
            <td>82kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>熊本</td>
            <td style="text-align:right;">2,350万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>040</td>
            <td style="text-align:left;"><a>谷岡　竜平</a></td>
            <td>投手</td>
            <td>1996/03/21</td>
            <td>27歳</td>
            <td style="text-align:right;">7年</td>
            <td>181cm</td>
            <td>89kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">785万円</td>
            </tr>
            <tr>
            <td>40</td>
            <td style="text-align:left;"><a>中山　礼都</a></td>
            <td>内野手</td>
            <td>2002/04/12</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>182cm</td>
            <td>82kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>愛知</td>
            <td style="text-align:right;">1,260万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>42</td>
            <td style="text-align:left;"><a>ブリンソン</a></td>
            <td>外野手</td>
            <td>1994/05/08</td>
            <td>29歳</td>
            <td style="text-align:right;">1年</td>
            <td>196cm</td>
            <td>96kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">13,000万円</td>
            </tr>
            <tr>
            <td>43</td>
            <td style="text-align:left;"><a>重信　慎之介</a></td>
            <td>外野手</td>
            <td>1993/04/17</td>
            <td>30歳</td>
            <td style="text-align:right;">8年</td>
            <td>173cm</td>
            <td>74kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>千葉</td>
            <td style="text-align:right;">3,200万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>44</td>
            <td style="text-align:left;"><a>ウォーカー</a></td>
            <td>外野手</td>
            <td>1991/10/18</td>
            <td>32歳</td>
            <td style="text-align:right;">2年</td>
            <td>196cm</td>
            <td>104kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>アメリカ</td>
            <td style="text-align:right;">10,000万円</td>
            </tr>
            <tr>
            <td>044</td>
            <td style="text-align:left;"><a>大城　元</a></td>
            <td>外野手</td>
            <td>2004/07/12</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>180cm</td>
            <td>78kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>沖縄</td>
            <td style="text-align:right;">360万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>45</td>
            <td style="text-align:left;"><a>畠　世周</a></td>
            <td>投手</td>
            <td>1994/05/31</td>
            <td>29歳</td>
            <td style="text-align:right;">7年</td>
            <td>186cm</td>
            <td>82kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>広島</td>
            <td style="text-align:right;">3,300万円</td>
            </tr>
            <tr>
            <td>46</td>
            <td style="text-align:left;"><a>鍬原　拓也</a></td>
            <td>投手</td>
            <td>1996/03/26</td>
            <td>27歳</td>
            <td style="text-align:right;">6年</td>
            <td>178cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>奈良</td>
            <td style="text-align:right;">2,900万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>047</td>
            <td style="text-align:left;"><a>鴨打　瑛二</a></td>
            <td>投手</td>
            <td>2004/02/29</td>
            <td>19歳</td>
            <td style="text-align:right;">2年</td>
            <td>195cm</td>
            <td>90kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>佐賀</td>
            <td style="text-align:right;">370万円</td>
            </tr>
            <tr>
            <td>47</td>
            <td style="text-align:left;"><a>髙橋　優貴</a></td>
            <td>投手</td>
            <td>1997/02/01</td>
            <td>26歳</td>
            <td style="text-align:right;">5年</td>
            <td>178cm</td>
            <td>82kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>茨城</td>
            <td style="text-align:right;">3,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>48</td>
            <td style="text-align:left;"><a>田中　千晴</a></td>
            <td>投手</td>
            <td>2000/09/21</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>189cm</td>
            <td>85kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>大阪</td>
            <td style="text-align:right;">1,000万円</td>
            </tr>
            <tr>
            <td>49</td>
            <td style="text-align:left;"><a>バルドナード</a></td>
            <td>投手</td>
            <td>1993/02/01</td>
            <td>30歳</td>
            <td style="text-align:right;">1年</td>
            <td>196cm</td>
            <td>122kg</td>
            <td>不明</td>
            <td>左左</td>
            <td>パナマ</td>
            <td style="text-align:right;">3,000万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>50</td>
            <td style="text-align:left;"><a>オコエ　瑠偉</a></td>
            <td>外野手</td>
            <td>1997/07/21</td>
            <td>26歳</td>
            <td style="text-align:right;">8年</td>
            <td>185cm</td>
            <td>90kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">850万円</td>
            </tr>
            <tr>
            <td>051</td>
            <td style="text-align:left;"><a>阿部　剣友</a></td>
            <td>投手</td>
            <td>2002/05/17</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>200cm</td>
            <td>107kg</td>
            <td>AB型</td>
            <td>左左</td>
            <td>北海道</td>
            <td style="text-align:right;">380万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>51</td>
            <td style="text-align:left;"><a>浅野　翔吾</a></td>
            <td>外野手</td>
            <td>2004/11/24</td>
            <td>19歳</td>
            <td style="text-align:right;">1年</td>
            <td>171cm</td>
            <td>86kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>香川</td>
            <td style="text-align:right;">1,200万円</td>
            </tr>
            <tr>
            <td>52</td>
            <td style="text-align:left;"><a>北村　拓己</a></td>
            <td>内野手</td>
            <td>1995/08/29</td>
            <td>28歳</td>
            <td style="text-align:right;">6年</td>
            <td>181cm</td>
            <td>90kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>石川</td>
            <td style="text-align:right;">1,700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>53</td>
            <td style="text-align:left;"><a>高梨　雄平</a></td>
            <td>投手</td>
            <td>1992/07/13</td>
            <td>31歳</td>
            <td style="text-align:right;">7年</td>
            <td>175cm</td>
            <td>86kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>埼玉</td>
            <td style="text-align:right;">11,000万円</td>
            </tr>
            <tr>
            <td>54</td>
            <td style="text-align:left;"><a>直江　大輔</a></td>
            <td>投手</td>
            <td>2000/06/20</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>185cm</td>
            <td>87kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>長野</td>
            <td style="text-align:right;">910万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>055</td>
            <td style="text-align:left;"><a>保科　広一</a></td>
            <td>外野手</td>
            <td>1998/06/03</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>187cm</td>
            <td>92kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>大阪</td>
            <td style="text-align:right;">420万円</td>
            </tr>
            <tr>
            <td>55</td>
            <td style="text-align:left;"><a>秋広　優人</a></td>
            <td>内野手</td>
            <td>2002/09/17</td>
            <td>21歳</td>
            <td style="text-align:right;">3年</td>
            <td>200cm</td>
            <td>95kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>千葉</td>
            <td style="text-align:right;">630万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>56</td>
            <td style="text-align:left;"><a>石田　隼都</a></td>
            <td>投手</td>
            <td>2003/04/05</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>183cm</td>
            <td>78kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>栃木</td>
            <td style="text-align:right;">610万円</td>
            </tr>
            <tr>
            <td>056</td>
            <td style="text-align:left;"><a>伊藤　優輔</a></td>
            <td>投手</td>
            <td>1997/01/14</td>
            <td>26歳</td>
            <td style="text-align:right;">3年</td>
            <td>178cm</td>
            <td>82kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>57</td>
            <td style="text-align:left;"><a>高木　京介</a></td>
            <td>投手</td>
            <td>1989/09/05</td>
            <td>34歳</td>
            <td style="text-align:right;">12年</td>
            <td>183cm</td>
            <td>90kg</td>
            <td>AB型</td>
            <td>左左</td>
            <td>石川</td>
            <td style="text-align:right;">2,000万円</td>
            </tr>
            <tr>
            <td>058</td>
            <td style="text-align:left;"><a>山本　一輝</a></td>
            <td>投手</td>
            <td>1998/06/28</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>182cm</td>
            <td>86kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>愛知</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>58</td>
            <td style="text-align:left;"><a>船迫　大雅</a></td>
            <td>投手</td>
            <td>1996/10/16</td>
            <td>27歳</td>
            <td style="text-align:right;">1年</td>
            <td>174cm</td>
            <td>74kg</td>
            <td>B型</td>
            <td>右左</td>
            <td>宮城</td>
            <td style="text-align:right;">800万円</td>
            </tr>
            <tr>
            <td>59</td>
            <td style="text-align:left;"><a>松原　聖弥</a></td>
            <td>外野手</td>
            <td>1995/01/26</td>
            <td>28歳</td>
            <td style="text-align:right;">7年</td>
            <td>173cm</td>
            <td>74kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>大阪</td>
            <td style="text-align:right;">3,100万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>60</td>
            <td style="text-align:left;"><a>菊田　拡和</a></td>
            <td>内野手</td>
            <td>2001/07/23</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>182cm</td>
            <td>94kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>茨城</td>
            <td style="text-align:right;">620万円</td>
            </tr>
            <tr>
            <td>61</td>
            <td style="text-align:left;"><a>増田　陸</a></td>
            <td>内野手</td>
            <td>2000/06/17</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>178cm</td>
            <td>85kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>大阪</td>
            <td style="text-align:right;">1,800万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>62</td>
            <td style="text-align:left;"><a>横川　凱</a></td>
            <td>投手</td>
            <td>2000/08/30</td>
            <td>23歳</td>
            <td style="text-align:right;">5年</td>
            <td>190cm</td>
            <td>98kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>滋賀</td>
            <td style="text-align:right;">660万円</td>
            </tr>
            <tr>
            <td>063</td>
            <td style="text-align:left;"><a>花田　侑樹</a></td>
            <td>投手</td>
            <td>2003/06/25</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>181cm</td>
            <td>74kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>広島</td>
            <td style="text-align:right;">480万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>63</td>
            <td style="text-align:left;"><a>田中　豊樹</a></td>
            <td>投手</td>
            <td>1993/12/01</td>
            <td>30歳</td>
            <td style="text-align:right;">8年</td>
            <td>180cm</td>
            <td>98kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>佐賀</td>
            <td style="text-align:right;">1,500万円</td>
            </tr>
            <tr>
            <td>64</td>
            <td style="text-align:left;"><a>大江　竜聖</a></td>
            <td>投手</td>
            <td>1999/01/15</td>
            <td>24歳</td>
            <td style="text-align:right;">7年</td>
            <td>173cm</td>
            <td>82kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>神奈川</td>
            <td style="text-align:right;">2,310万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>65</td>
            <td style="text-align:left;"><a>メンデス</a></td>
            <td>投手</td>
            <td>1995/01/17</td>
            <td>28歳</td>
            <td style="text-align:right;">1年</td>
            <td>193cm</td>
            <td>104kg</td>
            <td>不明</td>
            <td>左左</td>
            <td>ベネズエラ</td>
            <td style="text-align:right;">4,000万円</td>
            </tr>
            <tr>
            <td>66</td>
            <td style="text-align:left;"><a>香月　一也</a></td>
            <td>内野手</td>
            <td>1996/04/16</td>
            <td>27歳</td>
            <td style="text-align:right;">9年</td>
            <td>176cm</td>
            <td>83kg</td>
            <td>A型</td>
            <td>右左</td>
            <td>福岡</td>
            <td style="text-align:right;">1,100万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>67</td>
            <td style="text-align:left;"><a>山瀬　慎之助</a></td>
            <td>捕手</td>
            <td>2001/05/04</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>177cm</td>
            <td>89kg</td>
            <td>B型</td>
            <td>右右</td>
            <td>石川</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr>
            <td>68</td>
            <td style="text-align:left;"><a>代木　大和</a></td>
            <td>投手</td>
            <td>2003/09/08</td>
            <td>20歳</td>
            <td style="text-align:right;">2年</td>
            <td>184cm</td>
            <td>84kg</td>
            <td>O型</td>
            <td>左左</td>
            <td>愛媛</td>
            <td style="text-align:right;">550万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>69</td>
            <td style="text-align:left;"><a>三上　朋也</a></td>
            <td>投手</td>
            <td>1989/04/10</td>
            <td>34歳</td>
            <td style="text-align:right;">10年</td>
            <td>190cm</td>
            <td>90kg</td>
            <td>AB型</td>
            <td>右右</td>
            <td>岐阜</td>
            <td style="text-align:right;">1,600万円</td>
            </tr>
            <tr>
            <td>069</td>
            <td style="text-align:left;"><a>萩原　哲</a></td>
            <td>捕手</td>
            <td>1998/05/01</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>175cm</td>
            <td>85kg</td>
            <td>AB型</td>
            <td>右左</td>
            <td>京都</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>91</td>
            <td style="text-align:left;"><a>堀田　賢慎</a></td>
            <td>投手</td>
            <td>2001/05/21</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>186cm</td>
            <td>88kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>岩手</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr>
            <td>92</td>
            <td style="text-align:left;"><a>小沼　健太</a></td>
            <td>投手</td>
            <td>1998/06/11</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>189cm</td>
            <td>86kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>千葉</td>
            <td style="text-align:right;">720万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>93</td>
            <td style="text-align:left;"><a>松井　颯</a></td>
            <td>投手</td>
            <td>2000/09/14</td>
            <td>23歳</td>
            <td style="text-align:right;">1年</td>
            <td>178cm</td>
            <td>83kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>東京</td>
            <td style="text-align:right;">400万円</td>
            </tr>
            <tr>
            <td>94</td>
            <td style="text-align:left;"><a>喜多　隆介</a></td>
            <td>捕手</td>
            <td>1998/08/25</td>
            <td>25歳</td>
            <td style="text-align:right;">3年</td>
            <td>179cm</td>
            <td>83kg</td>
            <td>A型</td>
            <td>右右</td>
            <td>石川</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>95</td>
            <td style="text-align:left;"><a>堀岡　隼人</a></td>
            <td>投手</td>
            <td>1998/09/11</td>
            <td>25歳</td>
            <td style="text-align:right;">7年</td>
            <td>183cm</td>
            <td>87kg</td>
            <td>O型</td>
            <td>右右</td>
            <td>神奈川</td>
            <td style="text-align:right;">670万円</td>
            </tr>
            <tr>
            <td>96</td>
            <td style="text-align:left;"><a>菊地　大稀</a></td>
            <td>投手</td>
            <td>1999/06/02</td>
            <td>24歳</td>
            <td style="text-align:right;">2年</td>
            <td>186cm</td>
            <td>89kg</td>
            <td>O型</td>
            <td>右左</td>
            <td>新潟</td>
            <td style="text-align:right;">700万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>97</td>
            <td style="text-align:left;"><a>井上　温大</a></td>
            <td>投手</td>
            <td>2001/05/13</td>
            <td>22歳</td>
            <td style="text-align:right;">4年</td>
            <td>175cm</td>
            <td>78kg</td>
            <td>B型</td>
            <td>左左</td>
            <td>群馬</td>
            <td style="text-align:right;">650万円</td>
            </tr>
            <tr>
            <td>97</td>
            <td style="text-align:left;"><a>中川　皓太</a></td>
            <td>投手</td>
            <td>1994/02/24</td>
            <td>29歳</td>
            <td style="text-align:right;">8年</td>
            <td>183cm</td>
            <td>86kg</td>
            <td>A型</td>
            <td>左左</td>
            <td>大阪</td>
            <td style="text-align:right;">7,500万円</td>
            </tr>
            <tr style="background-color:#f4f4f4;">
            <td>99</td>
            <td style="text-align:left;"><a>ロペス</a></td>
            <td>投手</td>
            <td>1993/01/02</td>
            <td>30歳</td>
            <td style="text-align:right;">1年</td>
            <td>190cm</td>
            <td>84kg</td>
            <td>不明</td>
            <td>右右</td>
            <td>キューバ</td>
            <td style="text-align:right;">11,000万円</td>
            </tr>
            
            
            </table>