<html>
<head>
<style>
img{
	width:100px;
}
.back1{
  background: url(images/soft.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.hk{
    margin: auto;
}
</style>
</head>


<div id="wrapper">
    <img src="images/success.png" style="float:left;">
    <h1 style="text-align: center">野球の部屋</h1><br>
    <h2 style="border-bottom:5px solid #ffdd00;" class="back1">福岡ソフトバンクホークス選手一覧</h2>
<table border="1" class="hk">
    <tr>
    <th>No.</th>
    <th style="width:150px;">選手名</th>
    <th>守備</th>
    <th>生年月日</th>
    <th>年齢</th>
    <th>年数</th>
    <th>身長</th>
    <th>体重</th>
    <th>血液型</th>
    <th>投打</th>
    <th>出身地</th>
    <th>年俸(推定)</th>
    </tr>
    <tr>
    <td>00</td>
    <td style="text-align:left;"><a>川瀬　晃</a></td>
    <td>内野手</td>
    <td>1997/09/15</td>
    <td>26歳</td>
    <td style="text-align:right;">8年</td>
    <td>176cm</td>
    <td>70kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>大分</td>
    <td style="text-align:right;">1,700万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>0</td>

    <td style="text-align:left;"><a>ガルビス</a></td>
    <td>内野手</td>
    <td>1989/11/14</td>
    <td>34歳</td>
    <td style="text-align:right;">2年</td>
    <td>178cm</td>
    <td>86kg</td>
    <td>不明</td>
    <td>右両</td>
    <td>ベネズエラ</td>
    <td style="text-align:right;">35,000万円</td>
    </tr>
    <tr>
    <td>1</td>
    <td style="text-align:left;"><a>風間　球打</a></td>
    <td>投手</td>
    <td>2003/10/11</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>184cm</td>
    <td>92kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>山梨</td>
    <td style="text-align:right;">1,080万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>2</td>
    <td style="text-align:left;"><a>スチュワート・ジュニア</a></td>
    <td>投手</td>
    <td>1999/11/02</td>
    <td>24歳</td>
    <td style="text-align:right;">5年</td>
    <td>198cm</td>
    <td>101kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">11,000万円</td>
    </tr>
    <tr>
    <td>3</td>
    <td style="text-align:left;"><a>近藤　健介</a></td>
    <td>外野手</td>
    <td>1993/08/09</td>
    <td>30歳</td>
    <td style="text-align:right;">12年</td>
    <td>171cm</td>
    <td>86kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>千葉</td>
    <td style="text-align:right;">25,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>4</td>
    <td style="text-align:left;"><a>アストゥディーヨ</a></td>
    <td>内野手</td>
    <td>1991/10/14</td>
    <td>32歳</td>
    <td style="text-align:right;">1年</td>
    <td>175cm</td>
    <td>102kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ベネズエラ</td>
    <td style="text-align:right;">18,000万円</td>
    </tr>
    <tr>
    <td>6</td>
    <td style="text-align:left;"><a>今宮　健太</a></td>
    <td>内野手</td>
    <td>1991/07/15</td>
    <td>32歳</td>
    <td style="text-align:right;">14年</td>
    <td>173cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">30,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>7</td>
    <td style="text-align:left;"><a>中村　晃</a></td>
    <td>外野手</td>
    <td>1989/11/05</td>
    <td>34歳</td>
    <td style="text-align:right;">16年</td>
    <td>175cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>埼玉</td>
    <td style="text-align:right;">15,000万円</td>
    </tr>
    <tr>
    <td>8</td>
    <td style="text-align:left;"><a>牧原　大成</a></td>
    <td>内野手</td>
    <td>1992/10/15</td>
    <td>31歳</td>
    <td style="text-align:right;">13年</td>
    <td>172cm</td>
    <td>73kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>福岡</td>
    <td style="text-align:right;">8,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>9</td>
    <td style="text-align:left;"><a>柳田　悠岐</a></td>
    <td>外野手</td>
    <td>1988/10/09</td>
    <td>35歳</td>
    <td style="text-align:right;">13年</td>
    <td>188cm</td>
    <td>93kg</td>
    <td>AB型</td>
    <td>右左</td>
    <td>広島</td>
    <td style="text-align:right;">62,000万円</td>
    </tr>
    <tr>
    <td>10</td>
    <td style="text-align:left;"><a>ホーキンス</a></td>
    <td>外野手</td>
    <td>1993/11/12</td>
    <td>30歳</td>
    <td style="text-align:right;">1年</td>
    <td>190cm</td>
    <td>111kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">6,750万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>11</td>
    <td style="text-align:left;"><a>津森　宥紀</a></td>
    <td>投手</td>
    <td>1998/01/21</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>176cm</td>
    <td>84kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>和歌山</td>
    <td style="text-align:right;">4,100万円</td>
    </tr>
    <tr>
    <td>12</td>
    <td style="text-align:left;"><a>嶺井　博希</a></td>
    <td>捕手</td>
    <td>1991/06/04</td>
    <td>32歳</td>
    <td style="text-align:right;">10年</td>
    <td>175cm</td>
    <td>85kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">2,700万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>13</td>
    <td style="text-align:left;"><a>三森　大貴</a></td>
    <td>内野手</td>
    <td>1999/02/21</td>
    <td>24歳</td>
    <td style="text-align:right;">7年</td>
    <td>185cm</td>
    <td>76kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>埼玉</td>
    <td style="text-align:right;">4,500万円</td>
    </tr>
    <tr>
    <td>14</td>
    <td style="text-align:left;"><a>又吉　克樹</a></td>
    <td>投手</td>
    <td>1990/11/04</td>
    <td>33歳</td>
    <td style="text-align:right;">10年</td>
    <td>177cm</td>
    <td>69kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">15,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>16</td>
    <td style="text-align:left;"><a>東浜　巨</a></td>
    <td>投手</td>
    <td>1990/06/20</td>
    <td>33歳</td>
    <td style="text-align:right;">11年</td>
    <td>182cm</td>
    <td>82kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">15,000万円</td>
    </tr>
    <tr>
    <td>17</td>
    <td style="text-align:left;"><a>有原　航平</a></td>
    <td>投手</td>
    <td>1992/08/11</td>
    <td>31歳</td>
    <td style="text-align:right;">7年</td>
    <td>188cm</td>
    <td>95kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>広島</td>
    <td style="text-align:right;">50,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>18</td>
    <td style="text-align:left;"><a>武田　翔太</a></td>
    <td>投手</td>
    <td>1993/04/03</td>
    <td>30歳</td>
    <td style="text-align:right;">12年</td>
    <td>186cm</td>
    <td>90kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>宮崎</td>
    <td style="text-align:right;">15,000万円</td>
    </tr>
    <tr>
    <td>19</td>
    <td style="text-align:left;"><a>甲斐　拓也</a></td>
    <td>捕手</td>
    <td>1992/11/05</td>
    <td>31歳</td>
    <td style="text-align:right;">13年</td>
    <td>170cm</td>
    <td>87kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">21,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>20</td>
    <td style="text-align:left;"><a>甲斐野　央</a></td>
    <td>投手</td>
    <td>1996/11/16</td>
    <td>27歳</td>
    <td style="text-align:right;">5年</td>
    <td>188cm</td>
    <td>92kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>兵庫</td>
    <td style="text-align:right;">3,600万円</td>
    </tr>
    <tr>
    <td>21</td>
    <td style="text-align:left;"><a>和田　毅</a></td>
    <td>投手</td>
    <td>1981/02/21</td>
    <td>42歳</td>
    <td style="text-align:right;">17年</td>
    <td>179cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>島根</td>
    <td style="text-align:right;">16,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>22</td>
    <td style="text-align:left;"><a>牧原　巧汰</a></td>
    <td>捕手</td>
    <td>2002/07/13</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>175cm</td>
    <td>83kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>神奈川</td>
    <td style="text-align:right;">550万円</td>
    </tr>
    <tr>
    <td>23</td>
    <td style="text-align:left;"><a>周東　佑京</a></td>
    <td>内野手</td>
    <td>1996/02/10</td>
    <td>27歳</td>
    <td style="text-align:right;">6年</td>
    <td>180cm</td>
    <td>71kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>群馬</td>
    <td style="text-align:right;">4,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>24</td>
    <td style="text-align:left;"><a>栗原　陵矢</a></td>
    <td>外野手</td>
    <td>1996/07/04</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>179cm</td>
    <td>82kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>福井</td>
    <td style="text-align:right;">7,000万円</td>
    </tr>
    <tr>
    <td>25</td>
    <td style="text-align:left;"><a>デスパイネ</a></td>
    <td>外野手</td>
    <td>1986/06/17</td>
    <td>37歳</td>
    <td style="text-align:right;">10年</td>
    <td>175cm</td>
    <td>95kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>キューバ</td>
    <td style="text-align:right;">18,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>26</td>
    <td style="text-align:left;"><a>大津　亮介</a></td>
    <td>投手</td>
    <td>1999/01/13</td>
    <td>24歳</td>
    <td style="text-align:right;">1年</td>
    <td>175cm</td>
    <td>63kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>福岡</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr>
    <td>27</td>
    <td style="text-align:left;"><a>ガンケル</a></td>
    <td>投手</td>
    <td>1991/12/30</td>
    <td>31歳</td>
    <td style="text-align:right;">4年</td>
    <td>199cm</td>
    <td>101kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">16,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>28</td>
    <td style="text-align:left;"><a>高橋　礼</a></td>
    <td>投手</td>
    <td>1995/11/02</td>
    <td>28歳</td>
    <td style="text-align:right;">6年</td>
    <td>187cm</td>
    <td>87kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">4,300万円</td>
    </tr>
    <tr>
    <td>29</td>
    <td style="text-align:left;"><a>石川　柊太</a></td>
    <td>投手</td>
    <td>1991/12/27</td>
    <td>31歳</td>
    <td style="text-align:right;">10年</td>
    <td>185cm</td>
    <td>90kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">15,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>30</td>
    <td style="text-align:left;"><a>佐藤　直樹</a></td>
    <td>外野手</td>
    <td>1998/09/03</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>177cm</td>
    <td>88kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>兵庫</td>
    <td style="text-align:right;">1,400万円</td>
    </tr>
    <tr>
    <td>31</td>
    <td style="text-align:left;"><a>正木　智也</a></td>
    <td>外野手</td>
    <td>1999/11/05</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>182cm</td>
    <td>89kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">1,300万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>32</td>
    <td style="text-align:left;"><a>柳町　達</a></td>
    <td>外野手</td>
    <td>1997/04/20</td>
    <td>26歳</td>
    <td style="text-align:right;">4年</td>
    <td>180cm</td>
    <td>79kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>茨城</td>
    <td style="text-align:right;">2,900万円</td>
    </tr>
    <tr>
    <td>33</td>
    <td style="text-align:left;"><a>増田　珠</a></td>
    <td>内野手</td>
    <td>1999/05/21</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>179cm</td>
    <td>84kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>長崎</td>
    <td style="text-align:right;">860万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>34</td>
    <td style="text-align:left;"><a>椎野　新</a></td>
    <td>投手</td>
    <td>1995/10/10</td>
    <td>28歳</td>
    <td style="text-align:right;">6年</td>
    <td>196cm</td>
    <td>91kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>新潟</td>
    <td style="text-align:right;">1,900万円</td>
    </tr>
    <tr>
    <td>35</td>
    <td style="text-align:left;"><a>モイネロ</a></td>
    <td>投手</td>
    <td>1995/12/08</td>
    <td>27歳</td>
    <td style="text-align:right;">7年</td>
    <td>178cm</td>
    <td>69kg</td>
    <td>不明</td>
    <td>左左</td>
    <td>キューバ</td>
    <td style="text-align:right;">30,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>36</td>
    <td style="text-align:left;"><a>イヒネ　イツア</a></td>
    <td>内野手</td>
    <td>2004/09/02</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>184cm</td>
    <td>78kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>愛知</td>
    <td style="text-align:right;">800万円</td>
    </tr>
    <tr>
    <td>37</td>
    <td style="text-align:left;"><a>生海</a></td>
    <td>外野手</td>
    <td>2000/07/11</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>184cm</td>
    <td>95kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>福岡</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>38</td>
    <td style="text-align:left;"><a>森　唯斗</a></td>
    <td>投手</td>
    <td>1992/01/08</td>
    <td>31歳</td>
    <td style="text-align:right;">10年</td>
    <td>175cm</td>
    <td>91kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>徳島</td>
    <td style="text-align:right;">46,000万円</td>
    </tr>
    <tr>
    <td>39</td>
    <td style="text-align:left;"><a>尾形　崇斗</a></td>
    <td>投手</td>
    <td>1999/05/15</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>182cm</td>
    <td>84kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>宮城</td>
    <td style="text-align:right;">800万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>40</td>
    <td style="text-align:left;"><a>杉山　一樹</a></td>
    <td>投手</td>
    <td>1997/12/07</td>
    <td>25歳</td>
    <td style="text-align:right;">5年</td>
    <td>193cm</td>
    <td>102kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>静岡</td>
    <td style="text-align:right;">1,600万円</td>
    </tr>
    <tr>
    <td>42</td>
    <td style="text-align:left;"><a>大関　友久</a></td>
    <td>投手</td>
    <td>1997/12/14</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>184cm</td>
    <td>94kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>茨城</td>
    <td style="text-align:right;">4,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>43</td>
    <td style="text-align:left;"><a>井上　朋也</a></td>
    <td>内野手</td>
    <td>2003/01/28</td>
    <td>20歳</td>
    <td style="text-align:right;">3年</td>
    <td>181cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>大阪</td>
    <td style="text-align:right;">860万円</td>
    </tr>
    <tr>
    <td>44</td>
    <td style="text-align:left;"><a>笹川　吉康</a></td>
    <td>外野手</td>
    <td>2002/05/31</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>194cm</td>
    <td>92kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>神奈川</td>
    <td style="text-align:right;">620万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>45</td>
    <td style="text-align:left;"><a>谷川原　健太</a></td>
    <td>捕手</td>
    <td>1997/04/16</td>
    <td>26歳</td>
    <td style="text-align:right;">8年</td>
    <td>174cm</td>
    <td>86kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>愛知</td>
    <td style="text-align:right;">1,300万円</td>
    </tr>
    <tr>
    <td>46</td>
    <td style="text-align:left;"><a>川原田　純平</a></td>
    <td>内野手</td>
    <td>2002/05/21</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>168cm</td>
    <td>70kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>岩手</td>
    <td style="text-align:right;">560万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>47</td>
    <td style="text-align:left;"><a>髙橋　純平</a></td>
    <td>投手</td>
    <td>1997/05/08</td>
    <td>26歳</td>
    <td style="text-align:right;">8年</td>
    <td>184cm</td>
    <td>86kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>岐阜</td>
    <td style="text-align:right;">2,100万円</td>
    </tr>
    <tr>
    <td>48</td>
    <td style="text-align:left;"><a>藤井　皓哉</a></td>
    <td>投手</td>
    <td>1996/07/29</td>
    <td>27歳</td>
    <td style="text-align:right;">8年</td>
    <td>183cm</td>
    <td>87kg</td>
    <td>AB型</td>
    <td>右左</td>
    <td>岡山</td>
    <td style="text-align:right;">5,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>49</td>
    <td style="text-align:left;"><a>松本　晴</a></td>
    <td>投手</td>
    <td>2001/02/24</td>
    <td>22歳</td>
    <td style="text-align:right;">1年</td>
    <td>181cm</td>
    <td>83kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>大阪</td>
    <td style="text-align:right;">800万円</td>
    </tr>
    <tr>
    <td>50</td>
    <td style="text-align:left;"><a>板東　湧梧</a></td>
    <td>投手</td>
    <td>1995/12/27</td>
    <td>27歳</td>
    <td style="text-align:right;">5年</td>
    <td>182cm</td>
    <td>81kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>徳島</td>
    <td style="text-align:right;">3,400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>51</td>
    <td style="text-align:left;"><a>上林　誠知</a></td>
    <td>外野手</td>
    <td>1995/08/01</td>
    <td>28歳</td>
    <td style="text-align:right;">10年</td>
    <td>185cm</td>
    <td>90kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>埼玉</td>
    <td style="text-align:right;">3,750万円</td>
    </tr>
    <tr>
    <td>52</td>
    <td style="text-align:left;"><a>リチャード</a></td>
    <td>内野手</td>
    <td>1999/06/18</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>189cm</td>
    <td>123kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>53</td>
    <td style="text-align:left;"><a>泉　圭輔</a></td>
    <td>投手</td>
    <td>1997/03/02</td>
    <td>26歳</td>
    <td style="text-align:right;">5年</td>
    <td>188cm</td>
    <td>78kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>石川</td>
    <td style="text-align:right;">2,700万円</td>
    </tr>
    <tr>
    <td>54</td>
    <td style="text-align:left;"><a>オスナ</a></td>
    <td>投手</td>
    <td>1995/02/07</td>
    <td>28歳</td>
    <td style="text-align:right;">2年</td>
    <td>188cm</td>
    <td>104kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>メキシコ</td>
    <td style="text-align:right;">65,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>55</td>
    <td style="text-align:left;"><a>野村　大樹</a></td>
    <td>内野手</td>
    <td>2000/09/10</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>171cm</td>
    <td>84kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>兵庫</td>
    <td style="text-align:right;">950万円</td>
    </tr>
    <tr>
    <td>56</td>
    <td style="text-align:left;"><a>田浦　文丸</a></td>
    <td>投手</td>
    <td>1999/09/21</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>168cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>福岡</td>
    <td style="text-align:right;">960万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>57</td>
    <td style="text-align:left;"><a>嘉弥真　新也</a></td>
    <td>投手</td>
    <td>1989/11/23</td>
    <td>33歳</td>
    <td style="text-align:right;">12年</td>
    <td>172cm</td>
    <td>70kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>沖縄</td>
    <td style="text-align:right;">16,000万円</td>
    </tr>
    <tr>
    <td>58</td>
    <td style="text-align:left;"><a>木村　大成</a></td>
    <td>投手</td>
    <td>2003/09/12</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>180cm</td>
    <td>81kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>北海道</td>
    <td style="text-align:right;">550万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>59</td>
    <td style="text-align:left;"><a>水谷　瞬</a></td>
    <td>外野手</td>
    <td>2001/03/09</td>
    <td>22歳</td>
    <td style="text-align:right;">5年</td>
    <td>193cm</td>
    <td>99kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>愛知</td>
    <td style="text-align:right;">540万円</td>
    </tr>
    <tr>
    <td>60</td>
    <td style="text-align:left;"><a>大野　稼頭央</a></td>
    <td>投手</td>
    <td>2004/08/06</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>175cm</td>
    <td>66kg</td>
    <td>B型</td>
    <td>左左</td>
    <td>鹿児島</td>
    <td style="text-align:right;">500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>61</td>
    <td style="text-align:left;"><a>ヘルナンデス</a></td>
    <td>投手</td>
    <td>1996/12/17</td>
    <td>26歳</td>
    <td style="text-align:right;">1年</td>
    <td>188cm</td>
    <td>115kg</td>
    <td>不明</td>
    <td>左左</td>
    <td>ベネズエラ</td>
    <td style="text-align:right;">6,400万円</td>
    </tr>
    <tr>
    <td>62</td>
    <td style="text-align:left;"><a>海野　隆司</a></td>
    <td>捕手</td>
    <td>1997/07/15</td>
    <td>26歳</td>
    <td style="text-align:right;">4年</td>
    <td>173cm</td>
    <td>83kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>岡山</td>
    <td style="text-align:right;">1,300万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>63</td>
    <td style="text-align:left;"><a>古川　侑利</a></td>
    <td>投手</td>
    <td>1995/09/08</td>
    <td>28歳</td>
    <td style="text-align:right;">10年</td>
    <td>178cm</td>
    <td>86kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>佐賀</td>
    <td style="text-align:right;">1,300万円</td>
    </tr>
    <tr>
    <td>64</td>
    <td style="text-align:left;"><a>吉田　賢吾</a></td>
    <td>捕手</td>
    <td>2001/01/18</td>
    <td>22歳</td>
    <td style="text-align:right;">1年</td>
    <td>180cm</td>
    <td>87kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>神奈川</td>
    <td style="text-align:right;">800万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>65</td>
    <td style="text-align:left;"><a>九鬼　隆平</a></td>
    <td>捕手</td>
    <td>1998/09/05</td>
    <td>25歳</td>
    <td style="text-align:right;">7年</td>
    <td>180cm</td>
    <td>78kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>大阪</td>
    <td style="text-align:right;">650万円</td>
    </tr>
    <tr>
    <td>66</td>
    <td style="text-align:left;"><a>松本　裕樹</a></td>
    <td>投手</td>
    <td>1996/04/14</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>182cm</td>
    <td>87kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>神奈川</td>
    <td style="text-align:right;">4,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>67</td>
    <td style="text-align:left;"><a>笠谷　俊介</a></td>
    <td>投手</td>
    <td>1997/03/17</td>
    <td>26歳</td>
    <td style="text-align:right;">9年</td>
    <td>173cm</td>
    <td>73kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>大分</td>
    <td style="text-align:right;">2,100万円</td>
    </tr>
    <tr>
    <td>68</td>
    <td style="text-align:left;"><a>木村　光</a></td>
    <td>投手</td>
    <td>2000/07/02</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>173cm</td>
    <td>69kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>奈良</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>70</td>
    <td style="text-align:left;"><a>田上　奏大</a></td>
    <td>投手</td>
    <td>2002/11/26</td>
    <td>20歳</td>
    <td style="text-align:right;">3年</td>
    <td>186cm</td>
    <td>90kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>大阪</td>
    <td style="text-align:right;">650万円</td>
    </tr>
    <tr>
    <td>79</td>
    <td style="text-align:left;"><a>渡邉　陸</a></td>
    <td>捕手</td>
    <td>2000/09/24</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>187cm</td>
    <td>86kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>熊本</td>
    <td style="text-align:right;">850万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>99</td>
    <td style="text-align:left;"><a>野村　勇</a></td>
    <td>内野手</td>
    <td>1996/12/01</td>
    <td>26歳</td>
    <td style="text-align:right;">2年</td>
    <td>175cm</td>
    <td>83kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>兵庫</td>
    <td style="text-align:right;">2,500万円</td>
    </tr>
    <tr>
    <td>120</td>
    <td style="text-align:left;"><a>佐藤　宏樹</a></td>
    <td>投手</td>
    <td>1999/02/18</td>
    <td>24歳</td>
    <td style="text-align:right;">3年</td>
    <td>180cm</td>
    <td>80kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>秋田</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>121</td>
    <td style="text-align:left;"><a>石塚　綜一郎</a></td>
    <td>捕手</td>
    <td>2001/06/07</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>180cm</td>
    <td>86kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>秋田</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>122</td>
    <td style="text-align:left;"><a>藤野　恵音</a></td>
    <td>内野手</td>
    <td>2003/08/23</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>181cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>123</td>
    <td style="text-align:left;"><a>中道　佑哉</a></td>
    <td>投手</td>
    <td>1998/09/04</td>
    <td>25歳</td>
    <td style="text-align:right;">3年</td>
    <td>181cm</td>
    <td>71kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>青森</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>124</td>
    <td style="text-align:left;"><a>桑原　秀侍</a></td>
    <td>投手</td>
    <td>2002/05/29</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>176cm</td>
    <td>82kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>熊本</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>125</td>
    <td style="text-align:left;"><a>早　真之介</a></td>
    <td>外野手</td>
    <td>2002/09/11</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>180cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>滋賀</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>126</td>
    <td style="text-align:left;"><a>奥村　政稔</a></td>
    <td>投手</td>
    <td>1992/08/14</td>
    <td>31歳</td>
    <td style="text-align:right;">5年</td>
    <td>176cm</td>
    <td>79kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">900万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>127</td>
    <td style="text-align:left;"><a>緒方　理貢</a></td>
    <td>内野手</td>
    <td>1998/09/22</td>
    <td>25歳</td>
    <td style="text-align:right;">3年</td>
    <td>174cm</td>
    <td>69kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>宮崎</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>128</td>
    <td style="text-align:left;"><a>伊藤　大将</a></td>
    <td>内野手</td>
    <td>2001/07/27</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>179cm</td>
    <td>78kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>大阪</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>129</td>
    <td style="text-align:left;"><a>居谷　匠真</a></td>
    <td>捕手</td>
    <td>2002/12/30</td>
    <td>20歳</td>
    <td style="text-align:right;">3年</td>
    <td>177cm</td>
    <td>83kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>和歌山</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>130</td>
    <td style="text-align:left;"><a>勝連　大稀</a></td>
    <td>内野手</td>
    <td>2001/04/30</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>175cm</td>
    <td>69kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>沖縄</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>131</td>
    <td style="text-align:left;"><a>舟越　秀虎</a></td>
    <td>外野手</td>
    <td>2001/08/23</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>182cm</td>
    <td>71kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>132</td>
    <td style="text-align:left;"><a>川村　友斗</a></td>
    <td>外野手</td>
    <td>1999/08/13</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>181cm</td>
    <td>88kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>北海道</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>133</td>
    <td style="text-align:left;"><a>岡本　直也</a></td>
    <td>投手</td>
    <td>1996/10/30</td>
    <td>27歳</td>
    <td style="text-align:right;">5年</td>
    <td>182cm</td>
    <td>80kg</td>
    <td>B型</td>
    <td>左左</td>
    <td>千葉</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>134</td>
    <td style="text-align:left;"><a>大城　真乃</a></td>
    <td>投手</td>
    <td>2002/11/24</td>
    <td>20歳</td>
    <td style="text-align:right;">3年</td>
    <td>170cm</td>
    <td>69kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>沖縄</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>135</td>
    <td style="text-align:left;"><a>アルメンタ</a></td>
    <td>投手</td>
    <td>2004/06/26</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>185cm</td>
    <td>79kg</td>
    <td>不明</td>
    <td>左左</td>
    <td>メキシコ</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr>
    <td>136</td>
    <td style="text-align:left;"><a>大竹　風雅</a></td>
    <td>投手</td>
    <td>1999/08/22</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>186cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>福島</td>
    <td style="text-align:right;">600万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>137</td>
    <td style="text-align:left;"><a>中村　亮太</a></td>
    <td>投手</td>
    <td>1998/05/18</td>
    <td>25歳</td>
    <td style="text-align:right;">3年</td>
    <td>181cm</td>
    <td>78kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">650万円</td>
    </tr>
    <tr>
    <td>138</td>
    <td style="text-align:left;"><a>重田　倫明</a></td>
    <td>投手</td>
    <td>1996/05/30</td>
    <td>27歳</td>
    <td style="text-align:right;">5年</td>
    <td>186cm</td>
    <td>89kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>139</td>
    <td style="text-align:left;"><a>井﨑　燦志郎</a></td>
    <td>投手</td>
    <td>2004/02/09</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>187cm</td>
    <td>84kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>140</td>
    <td style="text-align:left;"><a>三浦　瑞樹</a></td>
    <td>投手</td>
    <td>1999/09/02</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>174cm</td>
    <td>76kg</td>
    <td>A型</td>
    <td>左右</td>
    <td>神奈川</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>141</td>
    <td style="text-align:left;"><a>フェリックス</a></td>
    <td>投手</td>
    <td>1999/11/29</td>
    <td>23歳</td>
    <td style="text-align:right;">2年</td>
    <td>190cm</td>
    <td>81kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr>
    <td>142</td>
    <td style="text-align:left;"><a>中村　宜聖</a></td>
    <td>外野手</td>
    <td>2000/07/03</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>183cm</td>
    <td>91kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>143</td>
    <td style="text-align:left;"><a>村上　舜</a></td>
    <td>投手</td>
    <td>2001/11/01</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>173cm</td>
    <td>74kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>山形</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>144</td>
    <td style="text-align:left;"><a>シモン</a></td>
    <td>外野手</td>
    <td>2004/09/18</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>185cm</td>
    <td>79kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>145</td>
    <td style="text-align:left;"><a>田中　怜利　ハモンド</a></td>
    <td>投手</td>
    <td>2004/01/17</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>190cm</td>
    <td>79kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>146</td>
    <td style="text-align:left;"><a>ヘラルディーノ</a></td>
    <td>内野手</td>
    <td>2004/11/20</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>183cm</td>
    <td>73kg</td>
    <td>不明</td>
    <td>右両</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>147</td>
    <td style="text-align:left;"><a>加藤　洸稀</a></td>
    <td>投手</td>
    <td>2003/07/21</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>176cm</td>
    <td>81kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>兵庫</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>148</td>
    <td style="text-align:left;"><a>山崎　琢磨</a></td>
    <td>投手</td>
    <td>2003/11/06</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>183cm</td>
    <td>91kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>大阪</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>149</td>
    <td style="text-align:left;"><a>佐久間　拓斗</a></td>
    <td>内野手</td>
    <td>2003/07/17</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>183cm</td>
    <td>98kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>福島</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>150</td>
    <td style="text-align:left;"><a>山本　恵大</a></td>
    <td>外野手</td>
    <td>1999/08/06</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>182cm</td>
    <td>91kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>東京</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>151</td>
    <td style="text-align:left;"><a>加藤　晴空</a></td>
    <td>捕手</td>
    <td>2003/04/28</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>175cm</td>
    <td>77kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>佐賀</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>152</td>
    <td style="text-align:left;"><a>瀧本　将生</a></td>
    <td>投手</td>
    <td>2003/07/29</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>179cm</td>
    <td>80kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>153</td>
    <td style="text-align:left;"><a>三代　祥貴</a></td>
    <td>内野手</td>
    <td>2004/03/29</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>179cm</td>
    <td>92kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>154</td>
    <td style="text-align:left;"><a>佐藤　琢磨</a></td>
    <td>投手</td>
    <td>2000/03/18</td>
    <td>23歳</td>
    <td style="text-align:right;">2年</td>
    <td>184cm</td>
    <td>84kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>新潟</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>155</td>
    <td style="text-align:left;"><a>仲田　慶介</a></td>
    <td>外野手</td>
    <td>1999/07/25</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>175cm</td>
    <td>74kg</td>
    <td>A型</td>
    <td>右両</td>
    <td>福岡</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>156</td>
    <td style="text-align:left;"><a>ロドリゲス</a></td>
    <td>投手</td>
    <td>2001/08/18</td>
    <td>22歳</td>
    <td style="text-align:right;">2年</td>
    <td>182cm</td>
    <td>90kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>157</td>
    <td style="text-align:left;"><a>小林　珠維</a></td>
    <td>内野手</td>
    <td>2001/05/07</td>
    <td>22歳</td>
    <td style="text-align:right;">4年</td>
    <td>183cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>北海道</td>
    <td style="text-align:right;">470万円</td>
    </tr>
    <tr>
    <td>158</td>
    <td style="text-align:left;"><a>赤羽　蓮</a></td>
    <td>投手</td>
    <td>2004/04/09</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>188cm</td>
    <td>76kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>茨城</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>159</td>
    <td style="text-align:left;"><a>山下　恭吾</a></td>
    <td>内野手</td>
    <td>2004/07/07</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>175cm</td>
    <td>74kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>161</td>
    <td style="text-align:left;"><a>内野　海斗</a></td>
    <td>投手</td>
    <td>2004/07/28</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>187cm</td>
    <td>88kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>162</td>
    <td style="text-align:left;"><a>岡植　純平</a></td>
    <td>投手</td>
    <td>2004/07/10</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>177cm</td>
    <td>71kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>兵庫</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>163</td>
    <td style="text-align:left;"><a>佐々木　明都</a></td>
    <td>投手</td>
    <td>2005/01/02</td>
    <td>18歳</td>
    <td style="text-align:right;">1年</td>
    <td>181cm</td>
    <td>76kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>164</td>
    <td style="text-align:left;"><a>水口　創太</a></td>
    <td>投手</td>
    <td>1999/08/09</td>
    <td>24歳</td>
    <td style="text-align:right;">1年</td>
    <td>195cm</td>
    <td>99kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>滋賀</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>165</td>
    <td style="text-align:left;"><a>宮﨑　颯</a></td>
    <td>投手</td>
    <td>2000/06/14</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>181cm</td>
    <td>91kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>埼玉</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>166</td>
    <td style="text-align:left;"><a>重松　凱人</a></td>
    <td>外野手</td>
    <td>2000/04/12</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>187cm</td>
    <td>89kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>福岡</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>167</td>
    <td style="text-align:left;"><a>前田　純</a></td>
    <td>投手</td>
    <td>2000/06/04</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>188cm</td>
    <td>84kg</td>
    <td>不明</td>
    <td>左左</td>
    <td>沖縄</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>168</td>
    <td style="text-align:left;"><a>佐藤　航太</a></td>
    <td>外野手</td>
    <td>2004/04/07</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>183cm</td>
    <td>76kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr>
    <td>169</td>
    <td style="text-align:left;"><a>飛田　悠成</a></td>
    <td>投手</td>
    <td>2005/03/13</td>
    <td>18歳</td>
    <td style="text-align:right;">1年</td>
    <td>184cm</td>
    <td>84kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>神奈川</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>170</td>
    <td style="text-align:left;"><a>西尾　歩真</a></td>
    <td>内野手</td>
    <td>2000/06/20</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>167cm</td>
    <td>66kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>三重</td>
    <td style="text-align:right;">400万円</td>
    </tr>
    <tr>
    <td>171</td>
    <td style="text-align:left;"><a>盛島　稜大</a></td>
    <td>捕手</td>
    <td>2004/05/27</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>187cm</td>
    <td>92kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">360万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>172</td>
    <td style="text-align:left;"><a>渡邊　佑樹</a></td>
    <td>投手</td>
    <td>1995/11/08</td>
    <td>28歳</td>
    <td style="text-align:right;">6年</td>
    <td>183cm</td>
    <td>85kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>山梨</td>
    <td style="text-align:right;">700万円</td>
    </tr>
    <tr>
    <td>173</td>
    <td style="text-align:left;"><a>オスーナ</a></td>
    <td>外野手</td>
    <td>2007/03/27</td>
    <td>16歳</td>
    <td style="text-align:right;">1年</td>
    <td>185cm</td>
    <td>82kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>

    </table>