<html>
<head>
<style>
img{
	width:100px;
}
table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.back1{
  background: url(images/p.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back2{
  background: url(images/s.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.ps{
    margin: auto;
}
</style>
</head>
<body>
	<div id="wrapper">
		<img src="images/success.png" style="float:left;">
		<h1 style="text-align: center">野球の部屋</h1><br>
		<h2 style="border-bottom:5px solid #ADE0EE;" class="back1">パリーグ</h2>

<table border="1" class="ps">
<tr>
	<th>順位</th>
	<th>チーム名</th>
	<th>試合数</th>
	<th>勝利</th>
	<th>敗戦</th>
	<th>引分</th>
	<th>勝差</th>
  </tr>
  <tr>
	<td>1</td>
	<td><a href="\b.html">オリックス・バファローズ</a></td>
	<td>143</td>
	<td>86</td>
	<td>53</td>
    <td>4</td>
	<td>優勝</td>
  </tr>
  <tr>
  　<td>2</td>
	<td><a href="\chi.html">千葉ロッテマリーンズ</a></td>
	<td>143</td>
	<td>70</td>
	<td>68</td>
	<td>5</td>
	<td>15.5</td>
  </tr>
  <tr>
	  <td>3</td>
		<td><a href="\h.html">福岡ソフトバンクホークス</a></td>
		<td>143</td>
		<td>71</td>
		<td>69</td>
        <td>3</td>
		<td>0</td>
	  </tr>
	  <tr>
		  <td>4</td>
			<td><a href="\e.html">楽天ゴールデンイーグルス</a></td>
			<td>143</td>
			<td>70</td>
            <td>71</td>
			<td>2</td>
			<td>1.5</td>
		  </tr>
		  <tr>
			  　<td>5</td>
				<td><a href="\s.html">埼玉西武ライオンズ</a></td>
				<td>143</td>
				<td>65</td>
				<td>77</td>
				<td>1</td>
				<td>5.5</td>
			  </tr>
			  <tr>
				  　<td>6</td>
					<td><a href="\n.html">北海道日本ハムファイターズ</a></td>
					<td>143</td>
					<td>60</td>
					<td>82</td>
					<td>1</td>
					<td>5</td>
				  </tr>
</table>

<div id="wrapper">
	<h3 style="border-bottom:5px solid #3eb370;" class="back2">セリーグ</h3>

<table border="2" class="ps">
	<tr>
		<th>順位</th>
		<th>チーム名</th>
		<th>試合数</th>
	<th>勝利</th>
	<th>敗戦</th>
	<th>引分</th>
	<th>勝差</th>
	  </tr>
	  <tr>
		<td>1</td>
		<td><a href="\ta.html">阪神タイガース</a></td>
		<td>143</td>
	<td>85</td>
	<td>53</td>
    <td>5</td>
	<td>優勝</td>
	  </tr>
	  <tr>
	  　<td>2</td>
		<td><a href="\c.html">広島東洋カープ</a></td>
		<td>143</td>
	<td>74</td>
	<td>65</td>
	<td>4</td>
	<td>11.5</td>
	  </tr>
	  <tr>
		  <td>3</td>
			<td><a href="\y.html">横浜DeNAベイスターズ</a></td>
			<td>143</td>
		<td>74</td>
		<td>66</td>
        <td>3</td>
		<td>0.5</td>
		  </tr>
		  <tr>
			  <td>4</td>
				<td><a href="\g.html">読売ジャイアンツ</a></td>
				<td>143</td>
			<td>71</td>
            <td>70</td>
			<td>2</td>
			<td>3.5</td>
			  </tr>
			  <tr>
				  　<td>5</td>
					<td><a href="\ya.html">東京ヤクルトスワローズ</a></td>
					<td>143</td>
					<td>57</td>
					<td>83</td>
					<td>3</td>
					<td>13.5</td>
				  </tr>
				  <tr>
					  　<td>6</td>
						<td><a href="\d.html">中日ドラゴンズ</a></td>
						<td>143</td>
						<td>56</td>
						<td>82</td>
						<td>5</td>
						<td>0</td>
					  </tr>
	</table>


</html>