<html>
<head>
<style>
img{
	width:100px;
}
.back1{
  background: url(images/figh.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.n{
    margin: auto;
}
</style>
</head>


<div id="wrapper">
    <img src="images/success.png" style="float:left;">
    <h1 style="text-align: center">野球の部屋</h1><br>
    <h2 style="border-bottom:5px solid #0077bb;" class="back1">日本ハムファイターズ選手一覧</h2>
<table border="1" class="n">
<tr>
    <th>No.</th>
    <th style="width:150px;">選手名</th>
    <th>守備</th>
    <th>生年月日</th>
    <th>年齢</th>
    <th>年数</th>
    <th>身長</th>
    <th>体重</th>
    <th>血液型</th>
    <th>投打</th>
    <th>出身地</th>
    <th>年俸(推定)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>2</td>
    <td style="text-align:left;"><a>マルティネス</a></td>
    <td>捕手</td>
    <td>1996/05/28</td>
    <td>27歳</td>
    <td style="text-align:right;">6年</td>
    <td>190cm</td>
    <td>95kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>キューバ</td>
    <td style="text-align:right;">8,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>3</td>
    <td style="text-align:left;"><a>加藤　豪将</a></td>
    <td>内野手</td>
    <td>1994/10/08</td>
    <td>29歳</td>
    <td style="text-align:right;">1年</td>
    <td>185cm</td>
    <td>91kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>アメリカ</td>
    <td style="text-align:right;">5,000万円</td>
    </tr>
    <tr>
    <td>4</td>
    <td style="text-align:left;"><a>上川畑　大悟</a></td>
    <td>内野手</td>
    <td>1997/01/12</td>
    <td>26歳</td>
    <td style="text-align:right;">2年</td>
    <td>167cm</td>
    <td>71kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>岡山</td>
    <td style="text-align:right;">2,200万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>5</td>
    <td style="text-align:left;"><a>野村　佑希</a></td>
    <td>内野手</td>
    <td>2000/06/26</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>187cm</td>
    <td>93kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">3,300万円</td>
    </tr>
    <tr>
    <td>6</td>
    <td style="text-align:left;"><a>アルカンタラ</a></td>
    <td>内野手</td>
    <td>1991/10/29</td>
    <td>32歳</td>
    <td style="text-align:right;">2年</td>
    <td>178cm</td>
    <td>85kg</td>
    <td>不明</td>
    <td>右両</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">13,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>7</td>
    <td style="text-align:left;"><a>松本　剛</a></td>
    <td>外野手</td>
    <td>1993/08/11</td>
    <td>30歳</td>
    <td style="text-align:right;">12年</td>
    <td>180cm</td>
    <td>81kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>埼玉</td>
    <td style="text-align:right;">8,600万円</td>
    </tr>
    <tr>
    <td>8</td>
    <td style="text-align:left;"><a>淺間　大基</a></td>
    <td>外野手</td>
    <td>1996/06/21</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>183cm</td>
    <td>82kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>東京</td>
    <td style="text-align:right;">2,800万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>9</td>
    <td style="text-align:left;"><a>中島　卓也</a></td>
    <td>内野手</td>
    <td>1991/01/11</td>
    <td>32歳</td>
    <td style="text-align:right;">15年</td>
    <td>178cm</td>
    <td>73kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>福岡</td>
    <td style="text-align:right;">3,000万円</td>
    </tr>
    <tr>
    <td>10</td>
    <td style="text-align:left;"><a>清水　優心</a></td>
    <td>捕手</td>
    <td>1996/05/22</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>185cm</td>
    <td>91kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>山口</td>
    <td style="text-align:right;">2,900万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>12</td>
    <td style="text-align:left;"><a>矢澤　宏太</a></td>
    <td>投手</td>
    <td>2000/08/02</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>173cm</td>
    <td>71kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>東京</td>
    <td style="text-align:right;">1,500万円</td>
    </tr>
    <tr>
    <td>13</td>
    <td style="text-align:left;"><a>生田目　翼</a></td>
    <td>投手</td>
    <td>1995/02/19</td>
    <td>28歳</td>
    <td style="text-align:right;">5年</td>
    <td>176cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>茨城</td>
    <td style="text-align:right;">900万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>14</td>
    <td style="text-align:left;"><a>加藤　貴之</a></td>
    <td>投手</td>
    <td>1992/06/03</td>
    <td>31歳</td>
    <td style="text-align:right;">8年</td>
    <td>182cm</td>
    <td>90kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>千葉</td>
    <td style="text-align:right;">13,500万円</td>
    </tr>
    <tr>
    <td>15</td>
    <td style="text-align:left;"><a>上沢　直之</a></td>
    <td>投手</td>
    <td>1994/02/06</td>
    <td>29歳</td>
    <td style="text-align:right;">12年</td>
    <td>187cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">17,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>16</td>
    <td style="text-align:left;"><a>達　孝太</a></td>
    <td>投手</td>
    <td>2004/03/27</td>
    <td>19歳</td>
    <td style="text-align:right;">2年</td>
    <td>194cm</td>
    <td>94kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>大阪</td>
    <td style="text-align:right;">1,000万円</td>
    </tr>
    <tr>
    <td>17</td>
    <td style="text-align:left;"><a>伊藤　大海</a></td>
    <td>投手</td>
    <td>1997/08/31</td>
    <td>26歳</td>
    <td style="text-align:right;">3年</td>
    <td>176cm</td>
    <td>82kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>北海道</td>
    <td style="text-align:right;">8,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>18</td>
    <td style="text-align:left;"><a>吉田　輝星</a></td>
    <td>投手</td>
    <td>2001/01/12</td>
    <td>22歳</td>
    <td style="text-align:right;">5年</td>
    <td>175cm</td>
    <td>83kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>秋田</td>
    <td style="text-align:right;">2,000万円</td>
    </tr>
    <tr>
    <td>19</td>
    <td style="text-align:left;"><a>玉井　大翔</a></td>
    <td>投手</td>
    <td>1992/06/16</td>
    <td>31歳</td>
    <td style="text-align:right;">7年</td>
    <td>178cm</td>
    <td>78kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>北海道</td>
    <td style="text-align:right;">6,800万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>20</td>
    <td style="text-align:left;"><a>上原　健太</a></td>
    <td>投手</td>
    <td>1994/03/29</td>
    <td>29歳</td>
    <td style="text-align:right;">8年</td>
    <td>191cm</td>
    <td>90kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>沖縄</td>
    <td style="text-align:right;">2,400万円</td>
    </tr>
    <tr>
    <td>21</td>
    <td style="text-align:left;"><a>清宮　幸太郎</a></td>
    <td>内野手</td>
    <td>1999/05/25</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>184cm</td>
    <td>94kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>東京</td>
    <td style="text-align:right;">3,300万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>22</td>
    <td style="text-align:left;"><a>杉浦　稔大</a></td>
    <td>投手</td>
    <td>1992/02/25</td>
    <td>31歳</td>
    <td style="text-align:right;">10年</td>
    <td>190cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>北海道</td>
    <td style="text-align:right;">6,000万円</td>
    </tr>
    <tr>
    <td>23</td>
    <td style="text-align:left;"><a>伏見　寅威</a></td>
    <td>捕手</td>
    <td>1990/05/12</td>
    <td>33歳</td>
    <td style="text-align:right;">11年</td>
    <td>182cm</td>
    <td>87kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>北海道</td>
    <td style="text-align:right;">4,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>24</td>
    <td style="text-align:left;"><a>金村　尚真</a></td>
    <td>投手</td>
    <td>2000/08/29</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>176cm</td>
    <td>83kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>沖縄</td>
    <td style="text-align:right;">1,100万円</td>
    </tr>
    <tr>
    <td>25</td>
    <td style="text-align:left;"><a>宮西　尚生</a></td>
    <td>投手</td>
    <td>1985/06/02</td>
    <td>38歳</td>
    <td style="text-align:right;">16年</td>
    <td>180cm</td>
    <td>78kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>兵庫</td>
    <td style="text-align:right;">5,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>26</td>
    <td style="text-align:left;"><a>田中　正義</a></td>
    <td>投手</td>
    <td>1994/07/19</td>
    <td>29歳</td>
    <td style="text-align:right;">7年</td>
    <td>188cm</td>
    <td>93kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>神奈川</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr>
    <td>27</td>
    <td style="text-align:left;"><a>古川　裕大</a></td>
    <td>捕手</td>
    <td>1998/06/19</td>
    <td>25歳</td>
    <td style="text-align:right;">3年</td>
    <td>182cm</td>
    <td>88kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>福岡</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>28</td>
    <td style="text-align:left;"><a>河野　竜生</a></td>
    <td>投手</td>
    <td>1998/05/30</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>175cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>徳島</td>
    <td style="text-align:right;">2,700万円</td>
    </tr>
    <tr>
    <td>29</td>
    <td style="text-align:left;"><a>井口　和朋</a></td>
    <td>投手</td>
    <td>1994/01/07</td>
    <td>29歳</td>
    <td style="text-align:right;">8年</td>
    <td>175cm</td>
    <td>75kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>神奈川</td>
    <td style="text-align:right;">3,300万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>30</td>
    <td style="text-align:left;"><a>郡司　裕也</a></td>
    <td>捕手</td>
    <td>1997/12/27</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>180cm</td>
    <td>89kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">975万円</td>
    </tr>
    <tr>
    <td>31</td>
    <td style="text-align:left;"><a>マーベル</a></td>
    <td>投手</td>
    <td>1993/09/17</td>
    <td>30歳</td>
    <td style="text-align:right;">1年</td>
    <td>193cm</td>
    <td>97kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">2,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>32</td>
    <td style="text-align:left;"><a>谷内　亮太</a></td>
    <td>内野手</td>
    <td>1991/02/03</td>
    <td>32歳</td>
    <td style="text-align:right;">11年</td>
    <td>177cm</td>
    <td>80kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>石川</td>
    <td style="text-align:right;">3,000万円</td>
    </tr>
    <tr>
    <td>33</td>
    <td style="text-align:left;"><a>立野　和明</a></td>
    <td>投手</td>
    <td>1998/04/03</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>181cm</td>
    <td>87kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>愛知</td>
    <td style="text-align:right;">1,600万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>34</td>
    <td style="text-align:left;"><a>堀　瑞輝</a></td>
    <td>投手</td>
    <td>1998/05/10</td>
    <td>25歳</td>
    <td style="text-align:right;">7年</td>
    <td>177cm</td>
    <td>82kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>広島</td>
    <td style="text-align:right;">5,500万円</td>
    </tr>
    <tr>
    <td>35</td>
    <td style="text-align:left;"><a>福田　光輝</a></td>
    <td>内野手</td>
    <td>1997/11/16</td>
    <td>26歳</td>
    <td style="text-align:right;">4年</td>
    <td>176cm</td>
    <td>80kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>大阪</td>
    <td style="text-align:right;">800万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>36</td>
    <td style="text-align:left;"><a>木村　文紀</a></td>
    <td>外野手</td>
    <td>1988/09/13</td>
    <td>35歳</td>
    <td style="text-align:right;">17年</td>
    <td>183cm</td>
    <td>86kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">1,900万円</td>
    </tr>
    <tr>
    <td>37</td>
    <td style="text-align:left;"><a>江越　大賀</a></td>
    <td>外野手</td>
    <td>1993/03/12</td>
    <td>30歳</td>
    <td style="text-align:right;">9年</td>
    <td>182cm</td>
    <td>81kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>長崎</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>38</td>
    <td style="text-align:left;"><a>石井　一成</a></td>
    <td>内野手</td>
    <td>1994/05/06</td>
    <td>29歳</td>
    <td style="text-align:right;">7年</td>
    <td>182cm</td>
    <td>80kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>栃木</td>
    <td style="text-align:right;">3,500万円</td>
    </tr>
    <tr>
    <td>39</td>
    <td style="text-align:left;"><a>有薗　直輝</a></td>
    <td>内野手</td>
    <td>2003/05/21</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>185cm</td>
    <td>95kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">630万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>40</td>
    <td style="text-align:left;"><a>福田　俊</a></td>
    <td>投手</td>
    <td>1996/12/14</td>
    <td>26歳</td>
    <td style="text-align:right;">5年</td>
    <td>171cm</td>
    <td>71kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>北海道</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr>
    <td>41</td>
    <td style="text-align:left;"><a>ロドリゲス</a></td>
    <td>投手</td>
    <td>1991/07/06</td>
    <td>32歳</td>
    <td style="text-align:right;">6年</td>
    <td>196cm</td>
    <td>116kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">12,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>42</td>
    <td style="text-align:left;"><a>ガント</a></td>
    <td>投手</td>
    <td>1992/08/06</td>
    <td>31歳</td>
    <td style="text-align:right;">2年</td>
    <td>193cm</td>
    <td>92kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">5,000万円</td>
    </tr>
    <tr>
    <td>43</td>
    <td style="text-align:left;"><a>水野　達稀</a></td>
    <td>内野手</td>
    <td>2000/07/30</td>
    <td>23歳</td>
    <td style="text-align:right;">2年</td>
    <td>171cm</td>
    <td>75kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>香川</td>
    <td style="text-align:right;">900万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>44</td>
    <td style="text-align:left;"><a>阪口　樂</a></td>
    <td>内野手</td>
    <td>2003/06/24</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>187cm</td>
    <td>88kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>京都</td>
    <td style="text-align:right;">550万円</td>
    </tr>
    <tr>
    <td>45</td>
    <td style="text-align:left;"><a>ポンセ</a></td>
    <td>投手</td>
    <td>1994/04/25</td>
    <td>29歳</td>
    <td style="text-align:right;">2年</td>
    <td>198cm</td>
    <td>116kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>アメリカ</td>
    <td style="text-align:right;">18,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>46</td>
    <td style="text-align:left;"><a href="h">畔柳　亨丞</a></td>
    <td>投手</td>
    <td>2003/05/03</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>180cm</td>
    <td>85kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>愛知</td>
    <td style="text-align:right;">550万円</td>
    </tr>
    <tr>
    <td>47</td>
    <td style="text-align:left;"><a>鈴木　健矢</a></td>
    <td>投手</td>
    <td>1997/12/11</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>176cm</td>
    <td>75kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>千葉</td>
    <td style="text-align:right;">1,900万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>48</td>
    <td style="text-align:left;"><a>齋藤　友貴哉</a></td>
    <td>投手</td>
    <td>1995/01/05</td>
    <td>28歳</td>
    <td style="text-align:right;">5年</td>
    <td>184cm</td>
    <td>92kg</td>
    <td>O型</td>
    <td>右左</td>
    <td>山形</td>
    <td style="text-align:right;">1,700万円</td>
    </tr>
    <tr>
    <td>49</td>
    <td style="text-align:left;"><a>山田　遥楓</a></td>
    <td>内野手</td>
    <td>1996/09/30</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>180cm</td>
    <td>84kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>佐賀</td>
    <td style="text-align:right;">1,200万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>50</td>
    <td style="text-align:left;"><a>五十幡　亮汰</a></td>
    <td>外野手</td>
    <td>1998/11/27</td>
    <td>24歳</td>
    <td style="text-align:right;">3年</td>
    <td>171cm</td>
    <td>65kg</td>
    <td>B型</td>
    <td>右左</td>
    <td>埼玉</td>
    <td style="text-align:right;">1,050万円</td>
    </tr>
    <tr>
    <td>51</td>
    <td style="text-align:left;"><a>石川　直也</a></td>
    <td>投手</td>
    <td>1996/07/11</td>
    <td>27歳</td>
    <td style="text-align:right;">9年</td>
    <td>192cm</td>
    <td>96kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>山形</td>
    <td style="text-align:right;">4,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>52</td>
    <td style="text-align:left;"><a>池田　隆英</a></td>
    <td>投手</td>
    <td>1994/10/01</td>
    <td>29歳</td>
    <td style="text-align:right;">7年</td>
    <td>181cm</td>
    <td>91kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>佐賀</td>
    <td style="text-align:right;">1,600万円</td>
    </tr>
    <tr>
    <td>53</td>
    <td style="text-align:left;"><a>長谷川　威展</a></td>
    <td>投手</td>
    <td>1999/08/09</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>178cm</td>
    <td>85kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>埼玉</td>
    <td style="text-align:right;">710万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>54</td>
    <td style="text-align:left;"><a>安西　叶翔</a></td>
    <td>投手</td>
    <td>2004/11/13</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>186cm</td>
    <td>86kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>京都</td>
    <td style="text-align:right;">530万円</td>
    </tr>
    <tr>
    <td>55</td>
    <td style="text-align:left;"><a>松浦　慶斗</a></td>
    <td>投手</td>
    <td>2003/07/01</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>186cm</td>
    <td>101kg</td>
    <td>A型</td>
    <td>左左</td>
    <td>宮城</td>
    <td style="text-align:right;">540万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>56</td>
    <td style="text-align:left;"><a>細川　凌平</a></td>
    <td>内野手</td>
    <td>2002/04/25</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>174cm</td>
    <td>73kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>京都</td>
    <td style="text-align:right;">660万円</td>
    </tr>
    <tr>
    <td>57</td>
    <td style="text-align:left;"><a>北山　亘基</a></td>
    <td>投手</td>
    <td>1999/04/10</td>
    <td>24歳</td>
    <td style="text-align:right;">2年</td>
    <td>182cm</td>
    <td>80kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>京都</td>
    <td style="text-align:right;">2,700万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>58</td>
    <td style="text-align:left;"><a>奈良間　大己</a></td>
    <td>内野手</td>
    <td>2000/05/08</td>
    <td>23歳</td>
    <td style="text-align:right;">1年</td>
    <td>172cm</td>
    <td>72kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>静岡</td>
    <td style="text-align:right;">770万円</td>
    </tr>
    <tr>
    <td>59</td>
    <td style="text-align:left;"><a>根本　悠楓</a></td>
    <td>投手</td>
    <td>2003/03/31</td>
    <td>20歳</td>
    <td style="text-align:right;">3年</td>
    <td>173cm</td>
    <td>77kg</td>
    <td>O型</td>
    <td>左左</td>
    <td>北海道</td>
    <td style="text-align:right;">1,300万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>60</td>
    <td style="text-align:left;"><a>郡　拓也</a></td>
    <td>捕手</td>
    <td>1998/04/25</td>
    <td>25歳</td>
    <td style="text-align:right;">7年</td>
    <td>179cm</td>
    <td>88kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">880万円</td>
    </tr>
    <tr>
    <td>61</td>
    <td style="text-align:left;"><a>今川　優馬</a></td>
    <td>外野手</td>
    <td>1997/01/25</td>
    <td>26歳</td>
    <td style="text-align:right;">3年</td>
    <td>177cm</td>
    <td>86kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>北海道</td>
    <td style="text-align:right;">2,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>62</td>
    <td style="text-align:left;"><a>宮内　春輝</a></td>
    <td>投手</td>
    <td>1996/05/25</td>
    <td>27歳</td>
    <td style="text-align:right;">1年</td>
    <td>176cm</td>
    <td>75kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">850万円</td>
    </tr>
    <tr>
    <td>63</td>
    <td style="text-align:left;"><a>北浦　竜次</a></td>
    <td>投手</td>
    <td>2000/01/12</td>
    <td>23歳</td>
    <td style="text-align:right;">6年</td>
    <td>184cm</td>
    <td>99kg</td>
    <td>AB型</td>
    <td>左左</td>
    <td>栃木</td>
    <td style="text-align:right;">770万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>64</td>
    <td style="text-align:left;"><a>田宮　裕涼</a></td>
    <td>捕手</td>
    <td>2000/06/13</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>175cm</td>
    <td>79kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>千葉</td>
    <td style="text-align:right;">570万円</td>
    </tr>
    <tr>
    <td>65</td>
    <td style="text-align:left;"><a>梅林　優貴</a></td>
    <td>捕手</td>
    <td>1998/03/14</td>
    <td>25歳</td>
    <td style="text-align:right;">4年</td>
    <td>173cm</td>
    <td>81kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>広島</td>
    <td style="text-align:right;">770万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>66</td>
    <td style="text-align:left;"><a>万波　中正</a></td>
    <td>外野手</td>
    <td>2000/04/07</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>192cm</td>
    <td>96kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>東京</td>
    <td style="text-align:right;">2,000万円</td>
    </tr>
    <tr>
    <td>67</td>
    <td style="text-align:left;"><a>山本　拓実</a></td>
    <td>投手</td>
    <td>2000/01/31</td>
    <td>23歳</td>
    <td style="text-align:right;">6年</td>
    <td>167cm</td>
    <td>80kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>兵庫</td>
    <td style="text-align:right;">1,350万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>68</td>
    <td style="text-align:left;"><a>松岡　洸希</a></td>
    <td>投手</td>
    <td>2000/08/31</td>
    <td>23歳</td>
    <td style="text-align:right;">4年</td>
    <td>180cm</td>
    <td>85kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>埼玉</td>
    <td style="text-align:right;">600万円</td>
    </tr>
    <tr>
    <td>70</td>
    <td style="text-align:left;"><a>メネズ</a></td>
    <td>投手</td>
    <td>1995/05/29</td>
    <td>28歳</td>
    <td style="text-align:right;">2年</td>
    <td>188cm</td>
    <td>93kg</td>
    <td>不明</td>
    <td>左左</td>
    <td>アメリカ</td>
    <td style="text-align:right;">9,000万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>93</td>
    <td style="text-align:left;"><a>田中　瑛斗</a></td>
    <td>投手</td>
    <td>1999/07/13</td>
    <td>24歳</td>
    <td style="text-align:right;">6年</td>
    <td>184cm</td>
    <td>80kg</td>
    <td>A型</td>
    <td>右左</td>
    <td>大分</td>
    <td style="text-align:right;">700万円</td>
    </tr>
    <tr>
    <td>94</td>
    <td style="text-align:left;"><a>ハンソン</a></td>
    <td>内野手</td>
    <td>1992/10/22</td>
    <td>31歳</td>
    <td style="text-align:right;">1年</td>
    <td>183cm</td>
    <td>84kg</td>
    <td>不明</td>
    <td>右両</td>
    <td>ドミニカ共和国</td>
    <td style="text-align:right;">1,500万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>99</td>
    <td style="text-align:left;"><a>王　柏融</a></td>
    <td>外野手</td>
    <td>1993/09/09</td>
    <td>30歳</td>
    <td style="text-align:right;">5年</td>
    <td>182cm</td>
    <td>91kg</td>
    <td>不明</td>
    <td>右左</td>
    <td>台湾</td>
    <td style="text-align:right;">1,500万円</td>
    </tr>
    <tr>
    <td>114</td>
    <td style="text-align:left;"><a>松本　遼大</a></td>
    <td>投手</td>
    <td>2002/05/17</td>
    <td>21歳</td>
    <td style="text-align:right;">3年</td>
    <td>188cm</td>
    <td>89kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>岩手</td>
    <td style="text-align:right;">290万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>115</td>
    <td style="text-align:left;"><a>齊藤　伸治</a></td>
    <td>投手</td>
    <td>1998/06/13</td>
    <td>25歳</td>
    <td style="text-align:right;">3年</td>
    <td>181cm</td>
    <td>82kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>千葉</td>
    <td style="text-align:right;">290万円</td>
    </tr>
    <tr>
    <td>121</td>
    <td style="text-align:left;"><a>福島　蓮</a></td>
    <td>投手</td>
    <td>2003/04/25</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>190cm</td>
    <td>70kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>青森</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>123</td>
    <td style="text-align:left;"><a>柳川　大晟</a></td>
    <td>投手</td>
    <td>2003/08/21</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>191cm</td>
    <td>87kg</td>
    <td>O型</td>
    <td>右右</td>
    <td>大分</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr>
    <td>124</td>
    <td style="text-align:left;"><a>阿部　和広</a></td>
    <td>外野手</td>
    <td>2003/05/12</td>
    <td>20歳</td>
    <td style="text-align:right;">2年</td>
    <td>170cm</td>
    <td>62kg</td>
    <td>不明</td>
    <td>右両</td>
    <td>神奈川</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>125</td>
    <td style="text-align:left;"><a>藤田　大清</a></td>
    <td>外野手</td>
    <td>2004/08/23</td>
    <td>19歳</td>
    <td style="text-align:right;">1年</td>
    <td>187cm</td>
    <td>84kg</td>
    <td>AB型</td>
    <td>右左</td>
    <td>長野</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr>
    <td>126</td>
    <td style="text-align:left;"><a>中山　晶量</a></td>
    <td>投手</td>
    <td>1999/02/08</td>
    <td>24歳</td>
    <td style="text-align:right;">1年</td>
    <td>188cm</td>
    <td>90kg</td>
    <td>AB型</td>
    <td>右右</td>
    <td>徳島</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>127</td>
    <td style="text-align:left;"><a>山口　アタル</a></td>
    <td>外野手</td>
    <td>1999/05/28</td>
    <td>24歳</td>
    <td style="text-align:right;">1年</td>
    <td>179cm</td>
    <td>89kg</td>
    <td>不明</td>
    <td>右右</td>
    <td>カナダ</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr>
    <td>128</td>
    <td style="text-align:left;"><a>山本　晃大</a></td>
    <td>投手</td>
    <td>1999/04/23</td>
    <td>24歳</td>
    <td style="text-align:right;">1年</td>
    <td>186cm</td>
    <td>88kg</td>
    <td>B型</td>
    <td>左左</td>
    <td>三重</td>
    <td style="text-align:right;">260万円</td>
    </tr>
    <tr style="background-color:#f4f4f4;">
    <td>137</td>
    <td style="text-align:left;"><a>柿木　蓮</a></td>
    <td>投手</td>
    <td>2000/06/25</td>
    <td>23歳</td>
    <td style="text-align:right;">5年</td>
    <td>181cm</td>
    <td>87kg</td>
    <td>A型</td>
    <td>右右</td>
    <td>佐賀</td>
    <td style="text-align:right;">440万円</td>
    </tr>
    <tr>
    <td>161</td>
    <td style="text-align:left;"><a>姫野　優也</a></td>
    <td>投手</td>
    <td>1997/04/02</td>
    <td>26歳</td>
    <td style="text-align:right;">8年</td>
    <td>184cm</td>
    <td>96kg</td>
    <td>B型</td>
    <td>右右</td>
    <td>大阪</td>
    <td style="text-align:right;">440万円</td>
    </tr>
</table>