<style>
.back1{
  background: url(images/olix.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}


.back2{
  background: url(images/lotte.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back3{
  background: url(images/soft.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back4{
  background: url(images/rakuten.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back5{
  background: url(images/lions.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back6{
  background: url(images/figh.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back7{
  background: url(images/hanshin.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back8{
  background: url(images/carp.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back9{
  background: url(images/bay.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back10{
  background: url(images/kyojin.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back11{
  background: url(images/yakult.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back12{
  background: url(images/dragons.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back13{
  background: url(images/p.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

.back14{
  background: url(images/s.png) no-repeat 10px center / 50px auto;
  padding: 10px 10px 10px 70px;
}

img{
	width:100px;
}

table{
	width:50%;
}
td{
	margin:10px;
	padding:10px;
}
.wrapper{
	width:800px;
}
.excitingNote{
	font-style:italic;
	font-weight:bold;
}

.ps{
    margin: auto;
}
</style>
</head>


<div id="wrapper">
    <img src="images/success.png" style="float:left;">
    <h1 style="text-align: center">野球の部屋</h1><br>
    <h2 style="border-bottom:5px solid #ADE0EE;" class="back13">パリーグ</h2>

<table border="2" class="ps">
    <tr>
        <th>チーム名</th>
      </tr>
      <tr>
        <td><div class="back1"><a href="\b.html">オリックス・バファローズ</a></div></td>
      </tr>
      <tr>
        <td><div class="back2"><a href="\chi.html">千葉ロッテマリーンズ</a></div></td>
      </tr>
      <tr>
            <td><div class="back3"><a href="\h.html">福岡ソフトバンクホークス</a></div></td>
          </tr>
          <tr>
                <td><div class="back4"><a href="\e.html">楽天ゴールデンイーグルス</a></div></td>
              </tr>
              <tr>

                    <td><div class="back5"><a href="\s.html">埼玉西武ライオンズ</a></div></td>
                  </tr>
                  <tr>
                        <td><div class="back6"><a href="\n.html">北海道日本ハムファイターズ</a></div></td>
                      </tr>
    </table>

    <div id="wrapper">
      <h3 style="border-bottom:5px solid #3eb370;" class="back14">セリーグ</h3>
  

<table border="3" class="ps">
    <tr>
        <th>チーム名</th>
      </tr>
      <tr>
        <td><div class="back7"><a href="\ta.html">阪神タイガース</a></div></td>
      </tr>
      <tr>
        <td><div class="back8"><a href="\c.html">広島東洋カープ</a></div></td>
      </tr>
      <tr>
            <td><div class="back9"><a href="\y.html">横浜DeNAベイスターズ</a></div></td>
          </tr>
          <tr>
                <td><div class="back10"><a href="\g.html">読売ジャイアンツ</a></div></td>
              </tr>
              <tr>
                    <td><div class="back11"><a href="\ya.html">東京ヤクルトスワローズ</a></div></td>
                  </tr>
                  <tr>
                        <td><div class="back12"><a href="\d.html">中日ドラゴンズ</a></div></td>
                      </tr>
    </table>